<div class="slider">
    <div class="slides_container">
       	<img src="{img}v5/ico_spacer.gif" alt="" id="hero_spacer" class="img-responsive" />
        <loop name="homepageheros">
        <img src="{imguploadscdn}heros/{filename}" alt="" id="hero_{id}" class="img-responsive" usemap="#hero_{id}" />
        </loop name="homepageheros">
    </div>
</div>
<div class="clear"></div>
{heroimagemaps}



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<script>
this.top.location !== this.location && (this.top.location = this.location);
</script>
