<div class="wrap-bread-crumb text-center" style="min-height:calc(100vh - 232px); background-image: url(/application/assets/images/sheel-theme-images/home/a8.png); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="bread-crumb container" style="margin:25px 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">

                    <div class="login-wrap">
                    <form method="post" action="{https_server}signin/?cmd=_do-pw-after-otp" name="passwordrenewal" accept-charset="UTF-8" onsubmit="return validate_otp_code(this)" >
                    <input type="hidden" name="cmd" value="_do-pw-after-otp" />
					<input type="hidden" name="email" value="{email}" />
					<input type="hidden" name="username" value="{username}" />
                    	<div class="login-html">
                        	<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="margin-left: 20px;">{_recover_my_password}</label>
                          	<div class="login-form">
                    				<div class="col-md-12">
				                        <div class="group">                   
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
				                        <div class="group">                   
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
				                        <div class="group">                   
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
	                            	    <div class="group">
	                            	    	<label for="user" class="label"><strong>{_otp_verification}</strong></label>
	                            	    	<input type="text" id="otp" name="otp" placeholder="{_otp_enter_provided_otp}"  size="45"  class="input-orig w-465 h-35 requiredfield" autocomplete="off" autofocus />	    	
	                            	    </div>
	                                </div>
	                                <div class="col-md-12">
				                        <div class="group">     
	                                    </div>
	                                    <div class="hr"></div>
	                                </div>
	                                <div class="col-md-12">
				                        <div class="group">                   
	                                    </div>
	                                </div>
	                                	
	                                <div class="col-md-6">
				                        <div class="group">
	                                        <input type="submit" class="button" value="{_otp_verify}">
	                                    </div>
	                                </div> 
	                                
									<div class="col-md-6">
				                        <div class="group"> 
											<input id="expirybutton" onclick="location.href='{https_server}signin/?cmd=_do-pw-request&email={email}'" type="button" class="button" value="00:00" disabled>
											   
	                                    </div>    
	                                </div>     
	                        </div>
	                     </div>
	                </form>
	                <script type="text/javascript">
						this.top.location !== this.location && (this.top.location = this.location);
					</script>
                            <div class="clear"></div>		
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	var countDownDate = '{expiry}' * 1000;
	var x = setInterval(function() {
	  var now = new Date().getTime();
	  var distance = countDownDate - now;
	  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

	  document.getElementById("expirybutton").value = (minutes<10 ? '0'+minutes : minutes) + ":" + (seconds<10 ? '0'+seconds : seconds);
	
	  if (distance < 0) {
		clearInterval(x);
		document.getElementById("expirybutton").value = "{_otp_resend}";
		document.getElementById("expirybutton").disabled = false;
	  }
	}, 1000);
</script>