<div class="wrap-bread-crumb text-center" style="min-height:calc(100vh - 232px); background-image: url(/application/assets/images/sheel-theme-images/home/a8.png); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="bread-crumb container" style="margin:25px 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">

                    <div class="login-wrap">
                    <form method="post" action="{https_server}signin/?cmd=password-change" name="passwordrenewal" accept-charset="UTF-8" onsubmit="return validate_otp_code(this)" >
                    <input type="hidden" name="cmd" value="password-change" />
					<input type="hidden" name="email" value="{email}" />
					<input type="hidden" name="username" value="{username}" />
                    	<div class="login-html">
                        	<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="margin-left: 20px;">{_recover_my_password}</label>
                          	<div class="login-form">
                    				<div class="col-md-12">
				                        <div class="group">                   
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
				                        <div class="group">                   
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
				                        <div class="group">                   
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
	                                    <div class="group">
	                                        <label for="user" class="label">{_password}<span class="color-grey"> - </span> <span class="color-grey" id="pwd_info">{_password_strength}</span></label>
	                                        <input type="password" name="password" value="" id="password" maxlength="32" onload="verify.check();checkPassword(this.value)" onkeyup="verify.check();checkPassword(this.value)" class="input-orig w-214 requiredfield" /><span toggle="password-field" class="fa fa-fw fa-eye field-eye-icon toggle-password" onClick="viewPassword('password')"></span>
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
	                                    <div class="group">
	                                        <label for="user" class="label">{_verify_password}<span class="color-grey"> - </span><span class="color-grey" id="pwd_verify">{_password_verify}</label>
	                                        <input type="password" name="password2" value="" id="password2" maxlength="32" onload="verify.check()" onkeyup="verify.check()" class="input-orig w-214 requiredfield" /><span toggle="password2-field" class="fa fa-fw fa-eye field-eye-icon toggle-password" onClick="viewPassword('password2')"></span>
	                                    </div>
	                                    
	                                </div>
	                                <div class="col-md-12">
				                        <div class="group">     
	                                    </div>
	                                    <div class="hr"></div>
	                                </div>
	                                <div class="col-md-12">
				                        <div class="group">                   
	                                    </div>
	                                </div>
	                                <div class="col-md-3">
				                        <div class="group"> 
	                                    </div>    
	                                </div>    
	                                <div class="col-md-6">
				                        <div class="group">
	                                        <input type="submit" class="button" value="{_change}">
	                                    </div>
	                                </div> 
	                                
									<div class="col-md-3">
				                        <div class="group"> 
	                                    </div>    
	                                </div>     
	                        </div>
	                     </div>
	                </form>
	                <script type="text/javascript">
						this.top.location !== this.location && (this.top.location = this.location);
					</script>
                            <div class="clear"></div>		
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>verify = new verifynotify();verify.field1 = fetch_js_object('password');verify.field2 = fetch_js_object('password2');verify.input1 = 'password';verify.input2 = 'password2';verify.check();checkPassword(fetch_js_object('password').value);
</script>