<div id="main-content">
	<div class="banner-slider banner-slider-home1 bg-slider" >
	<div class="wrap-item sv-slider navi-nav-style pagi-nav-style"
                 data-item="1"
                 data-speed=""
                 data-itemres=""
                 data-animation="goDown"
                 data-navigation="navi-nav-style"
                 data-pagination="pagi-nav-style"
                 data-prev=""
                 data-next="">
                 
		<loop name="landingpageheros">
		<div class="item-slider">
			<div class="banner-thumb">
             <a class="thumb-img" href="{https_server}signin/">
			 <img
				src="{imguploadscdn}heros/{filename}" id="hero_{id}"
				usemap="#hero_{id}" /> 
				</a>
				</div>
			<div class="banner-info">
				<div class="container">
					<div class="slider-content-text">
						<div class="line line1 line-sheel tag-line">{_the_smart_way_to}</div>
						<h4 class="line line2 line-sheel sub-tagline">{_buy_&_sell}</h4>
						<div class="line line1 line-sheel tag-line">{_on_amazon}</div>
						<a class="btn-er white text-center text-uppercase" href="{https_server}signin/">{_discover}  <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
			</div>
			
		</div>
		</loop name="landingpageheros">
	</div>
	</div>

	<!-- How it works -->
	<div class="sheel-timeline-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-home">
						<h3 class="title">
							<span>{_how_it_works}</span>
						</h3>
						<p class="title16 fs-bold">{_manage_amazon_store}</p>
					</div>
					<section class="cd-timeline js-cd-timeline">
						<div class="container max-width-lg cd-timeline__container">
							<div class="cd-timeline__block">
								<div class="cd-timeline__img cd-timeline__img--picture">
									<img src="{imgcdn}sheel-theme-images/home/ss02.svg"
										alt="Start Selling">
								</div>
								<!-- cd-timeline__img -->

								<div class="cd-timeline__content text-component">
									<h2>{_create_account}</h2>
									<p class="color-contrast-medium">{_create_your_account_with_us}</p>
									<div class="flex justify-between items-center">
										<span class="cd-timeline__date">{_step_1}</span>
									</div>
								</div>
								<!-- cd-timeline__content -->
							</div>
							<!-- cd-timeline__block -->

							<div class="cd-timeline__block">
								<div class="cd-timeline__img cd-timeline__img--movie">
									<img src="{imgcdn}sheel-theme-images/home/al02.svg"
										alt="Approve your listing">
								</div>
								<!-- cd-timeline__img -->

								<div class="cd-timeline__content text-component">
									<h2>{_upload_your_listing}</h2>
									<p class="color-contrast-medium">{_upload_your_listing_details}</p>
									<div class="flex justify-between items-center">
										<span class="cd-timeline__date">{_step_2}</span>
									</div>
								</div>
								<!-- cd-timeline__content -->
							</div>
							<!-- cd-timeline__block -->

							<div class="cd-timeline__block">
								<div class="cd-timeline__img cd-timeline__img--picture">
									<img src="{imgcdn}sheel-theme-images/home/mp02.svg"
										alt="Monitor your products">
								</div>
								<!-- cd-timeline__img -->
								<div class="cd-timeline__content text-component">
									<h2>{_monitor_your_products}</h2>
									<p class="color-contrast-medium">{_monitor_all_the_activities}</p>
									<div class="flex justify-between items-center">
										<span class="cd-timeline__date">{_step_3}</span>
										<!--                            <a href="#0" class="btn btn&#45;&#45;subtle">Read more</a>-->
									</div>
								</div>
								<!-- cd-timeline__content -->
							</div>
							<!-- cd-timeline__block -->

							<div class="cd-timeline__block">
								<div class="cd-timeline__img cd-timeline__img--location">
									<img src="{imgcdn}sheel-theme-images/home/em02.svg"
										alt="Earn Money">
								</div>
								<!-- cd-timeline__img -->
								<div class="cd-timeline__content text-component">
									<h2>{_increase_profit}</h2>
									<p class="color-contrast-medium">{_increase_profit_decision}</p>
									<div class="flex justify-between items-center">
										<span class="cd-timeline__date">{_step_4}</span>
									</div>
								</div>
								<!-- cd-timeline__content -->
							</div>
							<!-- cd-timeline__block -->
						</div>
					</section>
					<!-- cd-timeline -->
				</div>
			</div>
		</div>
	</div>
	<!-- How it works Ends-->

	<div class="box-join-our-email">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-home">
						<h3 class="title">
							<span>{_stores}</span>
						</h3>
						<p class="title16 white">{_with_sheel}</p>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12 ">
						<div class="col-md-12 sheel-store-sub first-store">
							<div class="store-circle-bg">
								<div class="store-image store-first-image"></div>
							</div>
							<div class="store-definition">{_create_your_store}</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 ">
						<div class="col-md-12 sheel-store-sub second-store">
							<div class="store-circle-bg">
								<div class="store-image store-second-image"></div>
							</div>
							<div class="store-definition">{_link_your_store}</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 ">
						<div class="col-md-12 sheel-store-sub third-store">
							<div class="store-circle-bg">
								<div class="store-image store-third-image"></div>
							</div>
							<div class="store-definition">{_add_upload_listings}</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 ">
						<div class="col-md-12 sheel-store-sub fourth-store">
							<div class="store-circle-bg">
								<div class="store-image store-fourth-image"></div>
							</div>
							<div class="store-definition">{_start_monitoring}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-12">
				<a href="{https_server}signin/" class="store-button">{_create_your_store}<i
					class="fa fa-arrow-circle-right"></i></a>
			</div>

		</div>
	</div>
</div>
<!--#main-content-->
<script>
this.top.location !== this.location && (this.top.location = this.location);
</script>
