<div id="main-content">
	<div class="banner-slider banner-slider-home1 bg-slider" >
	<div class="wrap-item sv-slider navi-nav-style pagi-nav-style"
                 data-item="1"
                 data-speed=""
                 data-itemres=""
                 data-animation="goDown"
                 data-navigation="navi-nav-style"
                 data-pagination="pagi-nav-style"
                 data-prev=""
                 data-next="">
                 
		<loop name="landingpageheros">
		<div class="item-slider">
			<div class="banner-thumb">
             <a class="thumb-img" href="{https_server}signin/">
			 <img
				src="{imguploadscdn}heros/{filename}" id="hero_{id}"
				usemap="#hero_{id}" /> 
				</a>
				</div>
			<div class="banner-info">
				<div class="container">
					<div class="slider-content-text">
						<div class="line line1 line-sheel tag-line">{_the_smart_way_to}</div>
						<h4 class="line line2 line-sheel sub-tagline">{_buy_&_sell}</h4>
						<div class="line line1 line-sheel tag-line">{_on_amazon}</div>
						<a class="btn-er white text-center text-uppercase" href="{https_server}signin/">{_discover}  <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
			</div>
			
		</div>
		</loop name="landingpageheros">
	</div>
	</div>
</div>
<!--#main-content-->
<script>
this.top.location !== this.location && (this.top.location = this.location);
</script>
