<div id="main-content">
	<div class="banner-slider banner-slider-home1 bg-slider" >
	<div class="wrap-item sv-slider navi-nav-style pagi-nav-style"
                 data-item="1"
                 data-speed=""
                 data-itemres=""
                 data-animation="goDown"
                 data-navigation="navi-nav-style"
                 data-pagination="pagi-nav-style"
                 data-prev=""
                 data-next="">
                 
		<loop name="landingpageheros">
		<div class="item-slider">
			<div class="banner-thumb">
             <a class="thumb-img" href="{https_server}signin/">
			 <img
				src="{imguploadscdn}heros/{filename}" id="hero_{id}"
				usemap="#hero_{id}" /> 
				</a>
			</div>
			<div class="banner-info">
				<div class="container">
					<div class="slider-content-text">
						<div class="line line1 line-sheel tag-line">{_different_hands} <BR> {_different_tasks}</div>
		
						<h4 class="line line2 line-sheel sub-tagline">{_one_excellent_result}</h4>
						
						<a class="btn-er white text-center text-uppercase" href="{https_server}signin/">{_discover}  <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
			</div>
			
		</div>
		</loop name="landingpageheros">
	</div>
	</div>

	<!-- How it works -->
	<div class="sheel-timeline-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-home">
						<h3 class="title">
							<span>{_how_we_behave}</span>
						</h3>
						<p class="title16 fs-bold">{_we_are_eager}</p>
					</div>
					<section class="cd-timeline js-cd-timeline">
						<div class="container max-width-lg cd-timeline__container">
							<div class="cd-timeline__block">
								<div class="cd-timeline__img cd-timeline__img--picture">
									<img src="{imgcdn}sheel-theme-images/home/458.png"
										alt="Start Selling">
								</div>
								<!-- cd-timeline__img -->

								<div class="cd-timeline__content text-component">
									<h2>{_customer_centric}</h2>
									<p class="color-contrast-medium">{_customer_centric_text}</p>
									<div class="flex justify-between items-center">
										<span class="cd-timeline__date">{_step_1}</span>
									</div>
								</div>
								<!-- cd-timeline__content -->
							</div>
							<!-- cd-timeline__block -->

							<div class="cd-timeline__block">
								<div class="cd-timeline__img cd-timeline__img--movie">
									<img src="{imgcdn}sheel-theme-images/home/458-1.png"
										alt="Approve your listing">
								</div>
								<!-- cd-timeline__img -->

								<div class="cd-timeline__content text-component">
									<h2>{_innovative}</h2>
									<p class="color-contrast-medium">{_innovative_text}</p>
									<div class="flex justify-between items-center">
										<span class="cd-timeline__date">{_step_2}</span>
									</div>
								</div>
								<!-- cd-timeline__content -->
							</div>
							<!-- cd-timeline__block -->

							<div class="cd-timeline__block">
								<div class="cd-timeline__img cd-timeline__img--picture">
									<img src="{imgcdn}sheel-theme-images/home/458-2.png"
										alt="Monitor your products">
								</div>
								<!-- cd-timeline__img -->
								<div class="cd-timeline__content text-component">
									<h2>{_as_one}</h2>
									<p class="color-contrast-medium">{_as_one_text}</p>
									<div class="flex justify-between items-center">
										<span class="cd-timeline__date">{_step_3}</span>
										<!--                            <a href="#0" class="btn btn&#45;&#45;subtle">Read more</a>-->
									</div>
								</div>
								<!-- cd-timeline__content -->
							</div>
							<!-- cd-timeline__block -->

							<div class="cd-timeline__block">
								<div class="cd-timeline__img cd-timeline__img--location">
									<img src="{imgcdn}sheel-theme-images/home/458-3.png"
										alt="Earn Money">
								</div>
								<!-- cd-timeline__img -->
								<div class="cd-timeline__content text-component">
									<h2>{_proud}</h2>
									<p class="color-contrast-medium">{_proud_text}</p>
									<div class="flex justify-between items-center">
										<span class="cd-timeline__date">{_step_4}</span>
									</div>
								</div>
								<!-- cd-timeline__content -->
							</div>
							<!-- cd-timeline__block -->
						</div>
					</section>
					<!-- cd-timeline -->
				</div>
			</div>
		</div>
	</div>
	<!-- How it works Ends-->

	<div class="sheel-buy-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-home">
						<h3 class="title">
							<span>{_our_strength}</span>
						</h3>
					</div>
					<div class="row box-server-about">
						<div class="col-sm-4">
							<div class="server-style1">
								<a href="#" class="img-server sheel-shop-image"> <img
									src="{imgcdn}sheel-theme-images/home/458-4.png"
									alt="Save Money">
								</a>
								<div class="info-server">
									<h2 class="title18 font-bold">
										{_strength_1}
									</h2>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="server-style1">
								<a href="#" class="img-server sheel-shop-image"> <img
									src="{imgcdn}sheel-theme-images/home/458-7.png"
									alt="fast delivery">
								</a>
								<div class="info-server">
									<h2 class="title18 font-bold">
										{_strength_2}
									</h2>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="server-style1">
								<a href="#" class="img-server sheel-shop-image"> <img
									src="{imgcdn}sheel-theme-images/home/458-9.png"
									alt="Eco Friendly">
								</a>
								<div class="info-server">
									<h2 class="title18 font-bold">
										{_strength_3}
									</h2>
								</div>
							</div>
						</div>
					</div>
					<!--.row-->
				</div>
			</div>
		</div>
	</div>

	<!--- Why Sell section  ------>
	<div class="box-join-our-email">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-home">
						<h3 class="title">
							<span>{site_name} {_foundation}</span>
						</h3>
						<p class="title16 white">{_foundation_text}</p>
					</div>
					<div class="col-md-2 col-md-offset-1 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub first-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-13th-image"></div>
							</div>
							<div class="sell-definition">{_we_support_our_people}</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub second-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-14th-image"></div>
							</div>
							<div class="sell-definition">{_saving_energy}</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub third-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-15th-image"></div>
							</div>
							<div class="sell-definition">{_community_care}</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub fourth-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-16th-image"></div>
							</div>
							<div class="sell-definition">{_raising_the_bar}</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub fifth-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-17th-image"></div>
							</div>
							<div class="sell-definition">{_clothes_donations}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="box-join-our-email">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-home">
						<h3 class="title">
							<span>{_our_footprint}</span>
						</h3>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub first-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-leb-image"></div>
							</div>
							<div class="sell-definition">{_lebanon}</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub second-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-dxb-image"></div>
							</div>
							<div class="sell-definition">{_dubai}</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub third-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-ksa-image"></div>
							</div>
							<div class="sell-definition">{_saudi_arabia}</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub fourth-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-kw-image"></div>
							</div>
							<div class="sell-definition">{_kuwait}</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub fifth-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-monaco-image"></div>
							</div>
							<div class="sell-definition">{_monaco}</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 col-xs-12">
						<div class="col-md-12 sheel-sell-sub fifth-sell">
							<div class="sell-circle-bg">
								<div class="sell-image sell-cyprus-image"></div>
							</div>
							<div class="sell-definition">{_cyprus}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-12">
				<a href="{https_server}signin/" class="store-button">{_signin}<i
					class="fa fa-arrow-circle-right"></i></a>
			</div>

		</div>
	</div>
</div>
<!--#main-content-->
<script>
this.top.location !== this.location && (this.top.location = this.location);
</script>
