
<div style="min-height: calc(100vh - 232px); background-color: #FFFFFF; background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">

	<div class="title-home">
	
		<div class="col-sm-12">
		<br>

			<span>{header_text}</span>
<br>
<br>

		</div>
	</div>

	<div class="bg-white" align="center">
		<div class="container">
			<div class="row">{body_text}</div>
		</div>
	</div>
</div>

<if condition="isset($sheel->show['returnname']) AND $sheel->show['returnname']">
	<br>
	<a href="{return_url}"><button class="btn small">{return_name}</button></a>
</if>