<section>
<script>
Page();
</script>
<div id="settings-domains" class="page has-contextual-help domains-blank-slate" refresh="settings-domains">
	<div class="header-row">
		<header class="header">
			<h1 class="header__main">{_administrative_action_failed}</h1>
				<div class="header__secondary-actions">
					<a href="{admurl}" class="btn">{_back}</a> 
					<!--<a class="btn btn-primary">Link 2</a>-->
				</div>
		</header>
	</div>
   
	<div class="row sst">
		<div class="span24">
			<div class="zero-state">
			
			   		<p>{error}</p>
					<p>&nbsp;</p>
                	<div><a href="{admurl}" class="btn">{_return_to_previous_page}</a></div>
			</div>
		</div>
	</div>
	
</div>
</section>

<div define="iLNav.setPage(['']), iLPage.close()"></div>