<if condition="$sheel->GPC['cmd'] == 'bcview'">
<if condition="$sheel->GPC['activate'] == 'yes'">
    <if condition="isset($sheel->GPC['note']) AND $sheel->GPC['note'] == 'extension'"><script>jQuery.growl.error({ title: '{_error}', message: 'The customer logo file must be .png, .jpg or .gif.' });</script></if>
    <if condition="isset($sheel->GPC['note']) AND $sheel->GPC['note'] == 'size'"><script>jQuery.growl.error({ title: '{_error}', message: 'The customer logo file must be under 250kb in file size.' });</script></if>
    <if condition="isset($sheel->GPC['note']) AND $sheel->GPC['note'] == 'wh'"><script>jQuery.growl.error({ title: '{_error}', message: 'The customer logo file must be at least 150 x 150 dimension.' });</script></if>
    <if condition="isset($sheel->GPC['note']) AND $sheel->GPC['note'] == 'error'"><script>jQuery.growl.error({ title: '{_error}', message: 'Error in activating selected customer. Please contact administrator.' });</script></if>
    <if condition="isset($sheel->GPC['note']) AND $sheel->GPC['note'] == 'exist'"><script>jQuery.growl.error({ title: '{_error}', message: 'The selected customer is already activated.' });</script></if>
</if>
<section>
    <script type="text/javascript">
        Page();
    </script>
     <form autocomplete="off" class="address-form" id="new_customer" action="{https_server_admin}customers/bcview/{form[no]}/" method="post" accept-charset="UTF-8" enctype="multipart/form-data" onsubmit="return submit_bc_form()">
    <input type="hidden" name="activate" value="yes">
    <input type="hidden" name="no" value="{form[no]}">
    <input type="hidden" name="company" value="{form[company]}">
    <div class="section account-overview">
        <div class="header-row">
			<header class="header">
				<h1 class="header__main">
					<span class="glyphicons glyphicons-vcard draw-icon" aria-hidden="true"></span>
					<span class="breadcrumb"><a href="{https_server_admin}customers/bc/">{_customers}</a> / </span> {currentarea}
				</h1>
				<div class="header__primary-actions">
                    <button type="submit" class="btn js-btn-primary js-btn-loadable has-loading btn-primary <if condition="isset($sheel->GPC['activated']) AND $sheel->GPC['activated'] == '1'">btn-disabled</if>" >{_activate}</button>
                </div>
                
                <div class="header__secondary-actions">  <a class="btn" href="{https_server_admin}customers/bc/">{_cancel}</a> </div>
			</header>
		</div>
        <div class="layout-content">
            <div class="layout-content__sidebar layout-content__first">
                <div class="section-summary">
                    <h1>Account overview</h1>
                    <p> The account details for this customer. </div>
            </div>
            <div class="layout-content__main">
                <div class="draw-card">
                    <div class="section-content">
                        <div class="draw-card__section">
                        
                            <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                <div class="draw-grid__cell">
                                    <label for="member-since">{_account_number}</label> 
                                    <span id="member-since">{customercard[No]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="current-plan">{_name}</label> 
                                    <span id="current-plan">{customercard[Name]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_name2}</label> 
                                    <span id="current-plan">{customercard[Name2]} </span>
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_name_local}</label> 
                                    <span id="current-plan">{customercard[Name_Arabic]} </span>
                                </div>
                            </div>

                            <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                <div class="draw-grid__cell">
                                    <label for="member-since">{_brand}</label> 
                                    <span id="member-since">{customercard[Brand]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="current-plan">{_nature_of_business}</label> 
                                    <span id="current-plan">{customercard[Nature_Of_Business]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_created_by}</label> 
                                    <span id="current-plan">{customercard[Created_By]} </span>
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_modified_by}</label> 
                                    <span id="current-plan">{customercard[Modified_By]} </span>
                                </div>
                            </div>

                            <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                <div class="draw-grid__cell">
                                    <label for="member-since">{_vat_registration_number}</label> 
                                    <span id="member-since">{customercard[VAT_Registration_No]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="current-plan">{_company_registration_number}</label> 
                                    <span id="current-plan">{customercard[CR_No]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_website}</label> 
                                    <span id="current-plan">{customercard[Home_Page]} </span>
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_language}</label> 
                                    <span id="current-plan">{customercard[Language_Code]} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-content">
            <div class="layout-content__sidebar layout-content__first">
                <div class="section-summary">
                    <h1>Address & Contact</h1>
                    <p> The account address details for this customer. </div>
            </div>
            <div class="layout-content__main">
                <div class="draw-card">
                    <div class="section-content">
                        <div class="draw-card__section">
                        
                            <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                <div class="draw-grid__cell">
                                    <label for="member-since">{_address_1}</label> 
                                    <span id="member-since">{customercard[Address]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="current-plan">{_address_2}</label> 
                                    <span id="current-plan">{customercard[Address_2]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_country}</label> 
                                    <span id="current-plan">{customercard[Country_Region_Code]} </span>
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_city}</label> 
                                    <span id="current-plan">{customercard[City]} </span>
                                </div>
                            </div>

                            <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                <div class="draw-grid__cell">
                                    <label for="member-since">{_phone}</label> 
                                    <span id="member-since">{customercard[Phone_No]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="current-plan">{_mobile}</label> 
                                    <span id="current-plan">{customercard[MobilePhoneNo]}</span> 
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_email}</label> 
                                    <span id="current-plan">{customercard[E_Mail]} </span>
                                </div>
                                <div class="draw-grid__cell">
                                    <label for="account-status">{_contact}</label> 
                                    <span id="current-plan">{customercard[ContactName]} </span>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section--no-border tags">
            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>{_other}</h1>
                        <p>Define other advanced options for this customer.</p>
                    </div>
                </div>
                <div class="layout-content__main">
                    <div class="draw-card">
                        <div class="draw-card__section">
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                        <label class="draw-label" for="customer_subscription">{_subscription}</label>
                                        <if condition="isset($sheel->GPC['activated']) AND $sheel->GPC['activated'] == '1'">
                                            <span id="current-plan">{customercard[subscription]} </span>
                                        <else />
                                            <div class="draw-select__wrapper draw-input--has-content" id="subscription-wrapper">
                                                {form[subscriptions]}
                                            </div>
                                        </if>
                                        
                                    </div>
                                </div>
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                        <label class="draw-label" for="customerstatus">{_status}</label>
                                        <div class="draw-select__wrapper draw-input--has-content" id="status-wrapper">
                                            {form[status]}
                                        </div>
                                    </div>
                                </div>
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                        <label class="draw-label" for="currency">{_currency}</label>
                                        <div class="draw-select__wrapper draw-input--has-content" id="status-wrapper">
                                            {form[currency]}
                                        </div>
                                    </div>
                                </div>
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                        <label class="draw-label" for="tz">{_timezone}</label>
                                        <div class="draw-select__wrapper draw-input--has-content" id="status-wrapper">
                                            {form[tz]}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section--no-border tags">
            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>{_logo}</h1>
                        <p>Logo for this customer.</p>
                    </div>
                </div>
                <div class="layout-content__main">
                    <div class="draw-card">
                        <div class="draw-card__section">
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                        <if condition="isset($sheel->GPC['activated']) AND $sheel->GPC['activated'] == '1'">
                                            <div class="ssb"><img src="{config[imguploadscdn]}customers/{customercard[logo]}" width="100"></div>
                                        <else />
                                            <label class="draw-label" for="form_imagename">Upload Image <span class="type--subdued"></span></label>
                                            <div class="styled-file-input">
                                                <div class="btn"> <span>{_browse}</span>
                                                    <input type="file" name="imagename" id="uploadimage" class="js-no-dirty"> 
                                                </div>
                                            </div>

                                            <div class="st">{_accepted}: <span class="type--subdued">.gif, .jpg, .jpeg, .png</span></div>
                                            <div>Dimension: <span class="type--subdued">150 x 150</span></div>
                                            <div id="file-upload-filename"></div>
                                        </if>
                                        
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <div define="iLNav.setPage(['customers','customers_bc']), iLPage.close()"></div>
</section>
<else />
<section>
    <script type="text/javascript">
        Page();
    </script>
    <div id="customers-index" class="page has-contextual-help customers-page">
        <div class="header-row">
            <header id="customers-index-header" class="header">
                <h1 class="header__main">
                    <span class="glyphicons glyphicons-vcard draw-icon" aria-hidden="true"></span>
                    {_customers}
              	</h1>
                <div class="header__primary-actions"> 
                    {prevnext}
                </div>
                
                
                <div class="header__secondary-actions">
                    <div id="header-action-pagination" class="header-action" refresh-always=""> </div>
                    <ul class="segmented"> </ul>
                </div>
            </header>
    </div>
    
    <div class="draw-grid draw-grid--outer-grid">
        <div class="draw-grid__cell">
            <div class="draw-card">
                <div class="has-bulk-actions">
                    <div context="filterer">
                        <div class="draw-card__section draw-card__section--no-bottom-spacing">
                            <div class="obj-filter hide-when-printing table-filter-container  show-saved-search-actions">
                                <div class="draw-input-wrapper">
                                    <form class="draw-form draw-form--full-width" action="{https_server_admin}customers/bc/" id="formsearch" accept-charset="UTF-8" method="get">
                                    <div class="draw-field__connected-wrapper">
                                        <div class="draw-field--connected--no-flex">
                                            <div class="draw-select__wrapper">
                                            	{form[company_pulldown]}
											</div>
										</div>
                                        <div class="draw-field--connected--no-flex">
											<div class="draw-select__wrapper">
                                            	{form[filter_pulldown]}
											</div>
											
										</div>
                                        
                                            <label class="draw-label helper--visually-hidden" for="query">{_keywords}</label>
                                            <div class="draw-input--stylized draw-field--connected"><span class="draw-input__add-on draw-input__add-on--before"><span class="glyphicons glyphicons-search" aria-hidden="true"></span></span>
                                                <input type="text" name="q" id="query" value="{form[q]}" placeholder="{_keywords}.."  class="draw-input draw-input--invisible">
                                            </div>
                                        
                                        <div class="segmented draw-field--connected--no-flex saved-search-actions-next" id="saved-search-actions-next" refresh="saved-search-actions-next"> </div>
                                    </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="customers-results">
                        <div class="draw-card__section">
                            <div class="table-wrapper">
                            	
                                <table class="table-hover expanded">
                                    <thead>
                                        <tr>
                                                <th class="is-sortable "> <span>{_account}</span> </th>
                                                <th class="customer is-sortable "> <span>{_name}</span> </th>
                                                <th class="customer"> <span>{_name2}</span> </th>
                                                <th class="customer is-sortable "> <span>{_country}</span> </th>
                                                <th> <span>{_contact}</span> </th>
                                                <th> <span>{_phone}</span> </th>
                                                <th class="is-sortable"> <span>{_blocked}</span> </th>
                                                <th>{_action}</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        	<loop name="customers">
                            <tr id="tr_selected_{No}" valign="top">
                               <td class="no-wrap"><a href="customers/bcview/{No}/?company={form[company]}">{No}</a></td>
                                <td class="date draw-table__cell--full-width-when-condensed type--subdued"> <span>{Name}</span></td>
                                <td class="status type--subdued">{Name_2}</td>
                                <td class="status no-wrap type--subdued">{Country_Region_Code}</td>
                                <td class="status no-wrap">{Contact}</td>
                                <td class="status no-wrap">{Phone_No}</td>
                                <td class="status no-wrap">{Blocked}</td>
                                <if condition="isset($sheel->GPC['view']) AND ($sheel->GPC['view'] == 'active') "><td class="last_order type--subdued">{switchadd}{switchview}</td>
                                <else />
                                <td class="last_order type--subdued"><a href="customers/bcview/{No}/?company={form[company]}" class="btn btn-slim btn--icon" title="{_activate}"><span class="glyphicons glyphicons-user-add x1" aria-hidden="true"></span></a></td>
                                </if>
                            </tr>
                            </loop name="customers">
                        </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    
    </div>
    <div define="iLNav.setPage(['customers','customers_bc']), iLPage.close()"></div>
</section>
</if>


