<section>
    <script type="text/javascript">
        Page();
    </script>
<if condition="isset($sheel->GPC['view'])">
    <div id="customers-index" class="page has-contextual-help customers-page">
        <div class="header-row">
            <header id="customers-index-header" class="header">
                <h1 class="header__main">
                    <span class="glyphicons glyphicons-credit-card draw-icon" aria-hidden="true"></span>
                    {_customers}
              	</h1>
              	<div class="header__primary-actions"> 
                   <a class="btn btn-primary" href="{https_server_admin}customers/bc/">{_add_customer}</a>    
                </div>
                
                
                <div class="header__secondary-actions">
                    <div id="header-action-pagination" class="header-action" refresh-always=""> </div>
                    <ul class="segmented"> </ul>
                </div>
            </header>
    </div>
    
    <div class="draw-grid draw-grid--outer-grid">
        <div class="draw-grid__cell">
            <div class="draw-card">
                <div class="has-bulk-actions">
                    <div context="filterer">
                        <div>
                            <ul class="draw-tab__list" role="tablist">
                                <li role="presentation"><a class="draw-tab<if condition="!isset($sheel->GPC['view'])"> draw-tab--is-active</if>" tabindex="0" aria-controls="NextTabPanel1" aria-selected="true" href="customers/">{_active}<if condition="empty($sheel->GPC['view'])"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[number]}</span></if></a></li>
                                <li role="presentation"><a class="draw-tab<if condition="isset($sheel->GPC['view']) AND $sheel->GPC['view'] == 'inactive'"> draw-tab--is-active</if>" tabindex="-1" aria-controls="NextTabPanel3" aria-selected="false" href="customers/?view=inactive<if condition="isset($sheel->GPC['filter']) AND !empty($sheel->GPC['filter']) AND isset($sheel->GPC['q']) AND !empty($sheel->GPC['q'])">&amp;filter={form[filter]}&amp;q={form[q]}</if>">{_inactive} <if condition="!empty($sheel->GPC['view']) AND $sheel->GPC['view'] == 'inactive'"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[number]}</span></if></a></li>
                                  <li class="draw-tab__list__disclosure-item dropdown-container"><span class="draw-tab draw-tab--disclosure" tabindex="-1" data-dropdown="~ .dropdown" aria-selected="true"><i class="ico ico-16-svg ico-chevron-down-blue"></i></span>
                                    <div class="dropdown">
                                        <ul class="draw-tab__list--vertical" role="tablist"></ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="draw-card__section draw-card__section--no-bottom-spacing">
                            <div class="obj-filter hide-when-printing table-filter-container  show-saved-search-actions">
                                <div class="draw-input-wrapper">
                                   
                                    <form class="draw-form draw-form--full-width" action="{https_server_admin}customers/" id="formsearch" accept-charset="UTF-8" method="get">
                                    <if condition="isset($sheel->GPC['view']) AND !empty($sheel->GPC['view'])"><input type="hidden" name="view" value="{form[view]}"></if>
                                    <div class="draw-field__connected-wrapper">
                                        
                                        <div class="draw-field--connected--no-flex">
											<div class="draw-select__wrapper">
                                            	{form[filter_pulldown]}
											</div>
											
										</div>
                                        
                                            <label class="draw-label helper--visually-hidden">{_keywords}</label>
                                            <div class="draw-input--stylized draw-field--connected"><span class="draw-input__add-on draw-input__add-on--before"><span class="glyphicons glyphicons-search" aria-hidden="true"></span></span>
                                                <input type="text" name="q" id="query" value="{form[q]}" placeholder="{_keywords}.."  class="draw-input draw-input--invisible">
                                            </div>
                                            <div class="segmented draw-field--connected--no-flex saved-search-actions-next" id="saved-search-actions-next" refresh="saved-search-actions-next"> </div>
                                            <div class="right"> 
                                                {prevnext}
                                            </div> 
                                    </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="customers-results">
                        <div class="draw-card__section">
                            <div class="table-wrapper">
                            	<form class="draw-form draw-form--full-width" action="{https_server_admin}customers/" id="formcustomers" accept-charset="UTF-8" method="get">
                                    <table class="table-hover expanded">
                                        <thead>
                                            <tr>
                                                <th class="select"><span id="bulkOperations">
                                                
                                                    <div class="tooltip tooltip-left-align tooltip-bottom bulk-actions__select-all-tooltip">
                                                        <div class="draw-input-wrapper bulk-actions__select-all btn--select-all bulk-actions__select-all--has-selected-items">
                                                        <input type="checkbox" onclick="inlineCB.check_all('invert')" class="draw-checkbox" id="checkboxall"><span class="draw-checkbox--styled"></span>
                                                        </div>
                                                    </div>
    
                                                    <div class="bulk-actions">
                                                        <ul class="segmented">
                                                        
                                                            <li>
                                                                <a class="btn btn-slim btn-disabled btn--selection">
                                                                    <span class="selection-count">
                                                                      <span id="selectedcount"></span> {_selected_customers}
                                                                    </span> 
                                                                </a>
                                                            </li>
                                                    
                                                            <li>
                                                                <a class="btn btn-slim hide" id="unselectalllink" aria-expanded="false" aria-haspopup="false" aria-owns="" onclick="inlineCB.check_all()">{_unselect_all}</a>
                                                                <div class="draw-popover__container">
                                                                    
                                                                    <a class="btn btn-slim" id="draw-popover-activator--1" aria-expanded="false" aria-haspopup="true" aria-owns="draw-popover--1" aria-controls="draw-popover--1">{_bulk_actions}</a>
                                                                    <div class="draw-popover draw-popover--full-height draw-popover--is-positioned-beneath" data-popover-css-vertical-margin="15" data-popover-css-horizontal-margin="20" data-popover-css-max-height="10000" data-popover-css-max-width="500" id="draw-popover--1" aria-labelledby="draw-popover-activator--1" aria-expanded="false" role="dialog" style="max-width: none; margin-right: 0px; margin-left: 0px; transform-origin: 111px -5px; left: -54px;">
                                                                        <div class="draw-popover__tooltip" style="left: 111px;"></div>
                                                                        <div class="draw-popover__content-wrapper">
                                                                            <div class="draw-popover__content" style="max-height: 637px;">
                                                                                <div class="draw-popover__pane">
                                                                                    <ul class="draw-list draw-list--compact">
                                                                                        <li><a class="draw-list__item" data-bind-event-click="bulk_confirm('markactive', 'Mark [x] selected customers as ready?', 'Are you sure you want to mark selected customers as active?', 'reqssss', 'selectedcount', '1', '0', '')">Mark selected customers active</a></li>
                                                                                        <li><a class="draw-list__item" data-bind-event-click="bulk_confirm('markinactive', 'Mark [x] selected customers as inactive?', 'Are you sure you want to mark selected customers as inactive?', 'reqssss', 'selectedcount', '1', '0', '')">Mark selected customers inactive</a></li>
                                                                                    </ul> 
                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            
                                                        </ul>
                                                    
                                                        <span class="bulk-select-all">
                                                                <p class="bulk-action-all-selector hide" id="refreshpagelink"><a href="javascript:;" onclick="window.location.reload(true)"><span data-balloon="Click refresh when you're ready" data-balloon-pos="right"><img src="{imgcdn}v5/ico_refresh.png" height="13"></span></a></p>
                                                                
                                                                
                                                        </span>
                                                    </div>
                                                    </span></th>
                                              <th class="is-sortable"> <span><label>{_account}</label></span> </th>
                                              <th> <span><label>{_name}</label></span> </th>
                                              <th> <span><label>{_name2}</label></span> </th>
                                              <th > <span><label>{_about}</label></span> </th>
                                              <th> <span><label>{_description}</label></span> </th>
                                              <th> <span><label>{_available_balance}</label></span> </th>
                                              <th> <span><label>{_total_balance}</label></span> </th>
                                              <th class="is-sortable"> <span><label>{_subscription}</label></span> </th>
                            </tr>
                            </thead>
                            <tbody>
                                <loop name="customers">
                                <tr id="tr_selected_{customer_id}" valign="top">
                                    <td class="select"><div class="draw-input-wrapper draw-input-wrapper--inline"><input type="checkbox" name="customerid[]" id="reqssss_{customer_id}" value="{customer_id}" class="draw-checkbox" onchange="inlineCB.toggle(this)"><span class="draw-checkbox--styled"></span></div></td>
                                    <td class="no-wrap"><a href="customers/view/{customer_id}/">{account_number}</a></td>
                                    <td class="no-wrap"> <span>{customername}</span></td>
                                    <td class="no-wrap"> <span>{customername2}</span></td>
                                    <td class="no-wrap"> <span>{customerabout}</span></td>
                                    <td class="status type--subdued">{customerdescription}</td>
                                    <td class="status no-wrap">{available_balance}</td>
                                    <td class="status no-wrap">{total_balance}</td>
                                    <td class="status no-wrap">{title_eng}</td>
                                </tr>
                                </loop name="customers">
                            </tbody>
                            </table>
                        <script type="text/javascript">
						inlineCB = new iL_Inline('inlineCB', 'reqssss', 'formcustomers', '{_go}'); 
						</script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div define="iLNav.setPage(['customers','customers_customers']), sLPage.close()"></div>

<else />
<if condition="isset($sheel->GPC['cmd']) AND ($sheel->GPC['cmd'] == 'view')">

<if condition="isset($sheel->GPC['note']) AND $sheel->GPC['note'] == 'extension'"><script>jQuery.growl.error({ title: '{_error}', message: 'The customer logo file must be .png, .jpg or .gif.' });</script></if>
<if condition="isset($sheel->GPC['note']) AND $sheel->GPC['note'] == 'size'"><script>jQuery.growl.error({ title: '{_error}', message: 'The customer logo file must be under 250kb in file size.' });</script></if>
<if condition="isset($sheel->GPC['note']) AND $sheel->GPC['note'] == 'wh'"><script>jQuery.growl.error({ title: '{_error}', message: 'The customer logo file must be at least 150 x 150 dimension.' });</script></if>

<div id="customers-new" class="page">
        <form autocomplete="off" id="new_customer" action="{https_server_admin}customers/view/{customercard[customer_id]}/" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
    	<input type="hidden" name="do" value="save" />
        <input type="hidden" name="customer_ref" value="{customercard[customer_ref]}" />
        <div class="header-row">
            <header class="header">
                <h1 class="header__main">
                    <span class="glyphicons glyphicons-vcard draw-icon" aria-hidden="true"></span>
                    <span class="breadcrumb"><a href="{https_server_admin}customers/">{_customers}</a> / </span> {currentarea}
                </h1>
                <div class="header__primary-actions">
                    <button type="submit" class="btn js-btn-primary js-btn-loadable has-loading btn-primary">{_save}</button>
                </div>
                
                <div class="header__secondary-actions">  <a class="btn" href="{https_server_admin}customers/bc/">{_add_customer}</a> <a class="btn" href="{https_server_admin}customers/">{_cancel}</a> </div>
            </header>
        </div>
            
        <div class="section overview">
            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>Account overview</h1>
                        <p> The account details for this customer. </div>
                </div>
                <div class="layout-content__main">
                    <div class="draw-card">
                        <div class="section-content">
                            <div class="draw-card__section">
                            
                                <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                    <div class="draw-grid__cell">
                                        <label>{_account_number}</label> 
                                        <span id="member-since">{customercard[account_number]}</span> 
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_name}</label> 
                                        <span >{customercard[customername]}</span> 
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_name2}</label> 
                                        <span >{customercard[customername2]} </span>
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_name_local}</label> 
                                        <span >{customercard[customerabout]} </span>
                                    </div>
                                </div>
    
                                <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                    <div class="draw-grid__cell">
                                        <label>{_nature_of_business}</label> 
                                        <span >{customercard[customerdescription]}</span> 
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_vat_registration_number}</label> 
                                        <span id="member-since">{customercard[vatnumber]}</span> 
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_company_registration_number}</label> 
                                        <span >{customercard[regnumber]}</span> 
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_total_balance}</label> 
                                        <span >{customercard[total_balance]}</span> 
                                    </div>
                                </div>
    

                                <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                    <div class="draw-grid__cell">
                                        <label>{_address_1}</label> 
                                        <span id="member-since">{customercard[address]}</span> 
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_address_2}</label> 
                                        <span >{customercard[address2]}</span> 
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_country}</label> 
                                        <span >{customercard[country]} </span>
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label >{_city}</label> 
                                        <span >{customercard[city]} </span>
                                    </div>
                                </div>
    
                                <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                    <div class="draw-grid__cell">
                                        <label>{_phone}</label> 
                                        <span id="member-since">{customercard[phone]}</span> 
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_mobile}</label> 
                                        <span >{customercard[mobile]}</span> 
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_email}</label> 
                                        <span >{customercard[email]} </span>
                                    </div>
                                    <div class="draw-grid__cell">
                                        <label>{_contact}</label> 
                                        <span >{customercard[contact]} </span>
                                    </div>
                                </div>
                                <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                    <div class="draw-input-wrapper">
                                        <a href="{https_server_admin}customers/refresh/{customercard[customer_id]}/" class="btn btn-primary js-btn-primary js-btn-loadable has-loading">{_refresh}</a>
                                       
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-content">
                    <div class="layout-content__sidebar layout-content__first">
                        <div class="section-summary">
                            <h1>Customer Details</h1>
                            <p>Some details about this Customer.</p>
                        </div>
                    </div>
                    <div class="layout-content__main">
                        <div class="draw-card">
                            <div class="draw-card__section">
              
                                 <div class="draw-grid draw-grid--no-outside-padding">
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label class="draw-label">{_subscription}</label>
                                            <div class="draw-select__wrapper draw-input--has-content" id="subscription-wrapper">
                                            	{form[subscriptions]}
                                        	</div>
                                        </div>
                                    </div>
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label class="draw-label">{_status}</label>
                                            <div class="draw-select__wrapper draw-input--has-content" id="status-wrapper">
                                            	{form[status]}
                                        	</div>
                                        </div>
                                    </div>
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label class="draw-label">{_currency}</label>
                                            <div class="draw-select__wrapper draw-input--has-content" id="status-wrapper">
                                            	{form[currency]}
                                        	</div>
                                        </div>
                                    </div>
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label class="draw-label">{_timezone}</label>
                                            <div class="draw-select__wrapper draw-input--has-content" id="status-wrapper">
                                            	{form[tz]}
                                        	</div>
                                        </div>
                                    </div>
                                </div>
                                

                        </div>
                    </div>
                </div>
            </div>


            <div class="section address">
                <div class="layout-content">
                    <div class="layout-content__sidebar layout-content__first">
                        <div class="section-summary">
                            <h1>Logo</h1>
                            <p>The Logo For The Customer.</p>
                        </div>
                    </div>
                    <div class="layout-content__main">
                        <div class="draw-card">
                            <div class="draw-card__section">
                                <div class="draw-grid draw-grid--no-outside-padding">
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">

                                            <label class="draw-label">Upload Image <span class="type--subdued"></span></label>
                                            <div class="ssb"><img src="{config[imguploadscdn]}customers/{form[imagename]}" width="100"></div>
                                            <div class="styled-file-input">
                                                <div class="btn"> <span>{_browse}</span>
                                                    <input type="file" name="imagename"  id="uploadimage" class="js-no-dirty"> 
                                                </div>
                                            </div>
                                            <div class="st">{_accepted}: <span class="type--subdued">.gif, .jpg, .jpeg, .png</span></div>
                                            <div>Dimension: <span class="type--subdued">150 x 150</span></div> 
                                            <div id="file-upload-filename"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>Customer Departments</h1>
                        <p>Departments List for this Customer.</p>
                        <p> <a class="btn js-btn-primary js-btn-loadable has-loading" href="{https_server_admin}customers/org/{customercard[customer_id]}/departments/">Manage Departments</a></p>
                    </div>
                </div>
                <div class="layout-content__main">
                    <div class="draw-card">
                        <div class="draw-card__section">
          
                                <div class="table-wrapper">
                                    <table class="expanded">
                                    <thead>
                                    <tr>
                                        <th width="10%"><label>Code</label> </th>
                                        <th width="100%"><label>Name</label></th>
                                        <th><label>Orders</label></th> 
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <loop name="departments">
                                        <tr valign="top">
                                            <td width="10%" nowrap="nowrap">{departmentCode}</td>
                                            <td width="100%" align="left">{departmentName}</td> 
                                            <td >{orders}</td>
                                        </tr>
                                    </loop name="departments"> 
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>Customer Positions</h1>
                        <p>Positions List for this Customer.</p>
                        <p> <a class="btn js-btn-primary js-btn-loadable has-loading" href="{https_server_admin}customers/org/{customercard[customer_id]}/positions/">Manage Positions</a></p>
                    </div>
                </div>
                <div class="layout-content__main">
                    <div class="draw-card">
                        <div class="draw-card__section">
          
                                <div class="table-wrapper">
                                    <table class="expanded">
                                    <thead>
                                    <tr>
                                        <th width="10%"><label>Code</label></th>
                                        <th width="15%"><label>Name</label></th> 
                                        <th width="85%"><label>Department</label></th>
                                        <th><label>Orders</label></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <loop name="positions">
                                        <tr valign="top">
                                            <td width="10%" nowrap="nowrap">{positionCode}</td>
                                            <td width="15%" align="left">{positionName}</td> 
                                            <td width="85%" align="left">{departmentName}</td> 
                                            <td>{orders}</td>
                                        </tr>
                                    </loop name="positions"> 
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>Customer Staffs</h1>
                        <p>Staff List for this Customer.</p>
                        <p> <a class="btn js-btn-primary js-btn-loadable has-loading" href="{https_server_admin}customers/org/{customercard[customer_id]}/staffs/">Manage Staff</a></p>
                        <p> <a class="btn js-btn-primary js-btn-loadable has-loading" href="{https_server_admin}customers/org/{customercard[customer_id]}/measurements/">Measurements</a></p>
                        <p> <a class="btn js-btn-primary js-btn-loadable has-loading" href="{https_server_admin}customers/org/{customercard[customer_id]}/sizes/">Sizes</a></p>
                    </div>
                </div>
                <div class="layout-content__main">
                    <div class="draw-card">
                        <div class="draw-card__section">
          
                                <div class="table-wrapper">
                                    <table class="expanded">
                                    <thead>
                                    <tr>
                                        <th width="10%"><label>Code</label></th>
                                        <th width="15%"><label>Name</label></th> 
                                        <th width="15%"><label>Gender</label></th> 
                                        <th width="15%"><label>Position</label></th>
                                        <th width="100%"><label>Department</label></th>
                                        <th><label>Orders</label></th>
                                        <th><label>Mandatory Measurements</label></th>
                                        <th><label>Mandatory Sizes</label></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <loop name="staff">
                                        <tr valign="top">
                                            <td width="10%" nowrap="nowrap"><a href="{https_server_admin}customers/org/{customercard[customer_id]}/staffs/?subcmd=update&staffno={code}&company_id={customercard[company_id]}">{code}</a></td>
                                            <td width="15%" align="left">{name}</td> 
                                            <td width="15%" align="left">{gender}</td> 
                                            <td width="15%" align="left">{positionName}</td> 
                                            <td width="100%" align="left">{departmentName}</td> 
                                            <td >{orders}</td>
                                            <td >{meetmeasurements}</td>
                                            <td >{meetsizes}</td>
                                        </tr>
                                    </loop name="staff"> 
                                    </tbody>
                                    </table>
                                </div>

                            </div>
                            

                    </div>
                </div>
            </div>
        </div>
        </div>      
    </form>
    </div>
<div define="iLNav.setPage(['customers','customers_customers']), sLPage.close()"></div>
<else />
    <div id="customers-index" class="page has-contextual-help customers-page">
        <div class="header-row">
            <header id="customers-index-header" class="header">
                <h1 class="header__main">
                    <span class="glyphicons glyphicons-vcard draw-icon" aria-hidden="true"></span>
                    {_customers}
              	</h1>
              	<div class="header__primary-actions"> 
                   <a class="btn btn-primary" href="{https_server_admin}customers/bc/">{_add_customer}</a>    
                </div>

                
                
                <div class="header__secondary-actions">
                    <div id="header-action-pagination" class="header-action" refresh-always=""> </div>
                    <ul class="segmented"> </ul>
                </div>
            </header>
    </div>
    
    <div class="draw-grid draw-grid--outer-grid">
        <div class="draw-grid__cell">
            <div class="draw-card">
                <div class="has-bulk-actions">
                    <div context="filterer">
                        <div>
                            <ul class="draw-tab__list" role="tablist">
                                <li role="presentation"><a class="draw-tab<if condition="!isset($sheel->GPC['view'])"> draw-tab--is-active</if>" tabindex="0" aria-controls="NextTabPanel1" aria-selected="true" href="customers/">{_active}<if condition="empty($sheel->GPC['view'])"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[number]}</span></if></a></li>
                                <li role="presentation"><a class="draw-tab<if condition="isset($sheel->GPC['view']) AND $sheel->GPC['view'] == 'inactive'"> draw-tab--is-active</if>" tabindex="-1" aria-controls="NextTabPanel3" aria-selected="false" href="customers/?view=inactive<if condition="isset($sheel->GPC['filter']) AND !empty($sheel->GPC['filter']) AND isset($sheel->GPC['q']) AND !empty($sheel->GPC['q'])">&amp;filter={form[filter]}&amp;q={form[q]}</if>">{_inactive} <if condition="!empty($sheel->GPC['view']) AND $sheel->GPC['view'] == 'inactive'"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[number]}</span></if></a></li>
                               
                            </ul>
                        </div> 
                        <div class="draw-card__section draw-card__section--no-bottom-spacing">
                            <div class="obj-filter hide-when-printing table-filter-container  show-saved-search-actions">
                                <div class="draw-input-wrapper">
                                   
                                    <form class="draw-form draw-form--full-width" action="{https_server_admin}customers/" id="formsearch" accept-charset="UTF-8" method="get">
                                    <if condition="isset($sheel->GPC['view']) AND !empty($sheel->GPC['view'])"><input type="hidden" name="view" value="{form[view]}"></if>
                                    <div class="draw-field__connected-wrapper">
                                        
                                        <div class="draw-field--connected--no-flex">
											<div class="draw-select__wrapper">
                                            	{form[filter_pulldown]}
											</div>
											
										</div>
                                        
                                            <label class="draw-label helper--visually-hidden">{_keywords}</label>
                                            <div class="draw-input--stylized draw-field--connected">
                                                <span class="draw-input__add-on draw-input__add-on--before"><span class="glyphicons glyphicons-search" aria-hidden="true"></span></span>
                                                <input type="text" name="q" id="query" value="{form[q]}" placeholder="{_keywords}.."  class="draw-input draw-input--invisible">
                                                <a href="{https_server_admin}customers/" title="{_clear}"><span class="draw-input__add-on draw-input__add-on--after"><span class=" halflings halflings-remove draw-icon" aria-hidden="true"></span></span></a>
                                            </div> 
                                            <div class="right"> 
                                                {prevnext}
                                            </div> 
                                    </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="customers-results">
                        <div class="draw-card__section">
                            <div class="table-wrapper">
                            	<form class="draw-form draw-form--full-width" action="{https_server_admin}customers/" id="formcustomers" accept-charset="UTF-8" method="get">
                                <table class="table-hover expanded">
                                    <thead>
                                        <tr>
                                            <th class="select"><span id="bulkOperations">
                                            
                                                <div class="tooltip tooltip-left-align tooltip-bottom bulk-actions__select-all-tooltip">
                                                    <div class="draw-input-wrapper bulk-actions__select-all btn--select-all bulk-actions__select-all--has-selected-items">
                                                    <input type="checkbox" onclick="inlineCB.check_all('invert')" class="draw-checkbox" id="checkboxall"><span class="draw-checkbox--styled"></span>
                                                    </div>
                                                </div>

                                                <div class="bulk-actions">
                                                    <ul class="segmented">
                                                    
                                                        <li>
                                                            <a class="btn btn-slim btn-disabled btn--selection">
                                                                <span class="selection-count">
                                                                  <span id="selectedcount"></span> {_selected_customers}
                                                                </span> 
                                                            </a>
                                                        </li>
                                                
                                                        <li>
                                                        	<a class="btn btn-slim hide" id="unselectalllink" aria-expanded="false" aria-haspopup="false" aria-owns="" onclick="inlineCB.check_all()">{_unselect_all}</a>
                                                            <div class="draw-popover__container">
                                                            	
                                                                <a class="btn btn-slim" id="draw-popover-activator--1" aria-expanded="false" aria-haspopup="true" aria-owns="draw-popover--1" aria-controls="draw-popover--1">{_bulk_actions}</a>
                                                                <div class="draw-popover draw-popover--full-height draw-popover--is-positioned-beneath" data-popover-css-vertical-margin="15" data-popover-css-horizontal-margin="20" data-popover-css-max-height="10000" data-popover-css-max-width="500" id="draw-popover--1" aria-labelledby="draw-popover-activator--1" aria-expanded="false" role="dialog" style="max-width: none; margin-right: 0px; margin-left: 0px; transform-origin: 111px -5px; left: -54px;">
                                                                    <div class="draw-popover__tooltip" style="left: 111px;"></div>
                                                                    <div class="draw-popover__content-wrapper">
                                                                        <div class="draw-popover__content" style="max-height: 637px;">
                                                                            <div class="draw-popover__pane">
                                                                                <ul class="draw-list draw-list--compact">
                                                                                    <li><a class="draw-list__item" data-bind-event-click="bulk_confirm('markactive', 'Mark [x] selected customers as ready?', 'Are you sure you want to mark selected customers as active?', 'reqssss', 'selectedcount', '1', '0', '')">Mark selected customers active</a></li>
                                                                                    <li><a class="draw-list__item" data-bind-event-click="bulk_confirm('markinactive', 'Mark [x] selected customers as inactive?', 'Are you sure you want to mark selected customers as inactive?', 'reqssss', 'selectedcount', '1', '0', '')">Mark selected customers inactive</a></li>
                                                                                </ul> 
                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        
                                                    </ul>
                                                
                                                    <span class="bulk-select-all">
                                                            <p class="bulk-action-all-selector hide" id="refreshpagelink"><a href="javascript:;" onclick="window.location.reload(true)"><span data-balloon="Click refresh when you're ready" data-balloon-pos="right"><img src="{imgcdn}v5/ico_refresh.png" height="13"></span></a></p>
                                                            
                                                            
                                                    </span>
                                                </div>
                                                </span></th>
                                          <th class="is-sortable"> <span><label>{_account}</label></span> </th>
                                          <th> <span><label>{_name}</label></span> </th>
                                          <th> <span><label>{_name2}</label></span> </th>
                                          <th > <span><label>{_about}</label></span> </th>
                                          <th> <span><label>{_description}</label></span> </th>
                                          <th> <span><label>{_available_balance}</label></span> </th>
                                          <th> <span><label>{_total_balance}</label></span> </th>
                                          <th> <span><label>{_orders}</label></span> </th>
                                          <th class="is-sortable"> <span><label>{_subscription}</label></span> </th>
                        </tr>
                        </thead>
                        <tbody>
                        	<loop name="customers">
                            <tr id="tr_selected_{customer_id}" valign="top">
                                <td class="select"><div class="draw-input-wrapper draw-input-wrapper--inline"><input type="checkbox" name="customerid[]" id="reqssss_{customer_id}" value="{customer_id}" class="draw-checkbox" onchange="inlineCB.toggle(this)"><span class="draw-checkbox--styled"></span></div></td>
                                <td class="no-wrap"><a href="customers/view/{customer_id}/">{account_number}</a></td>
                                <td class="no-wrap"> <span>{customername}</span></td>
                                <td class="no-wrap"> <span>{customername2}</span></td>
                                <td class="no-wrap"> <span>{customerabout}</span></td>
                                <td class="status type--subdued">{customerdescription}</td>
                                <td class="status no-wrap"><span class="badge badge--subdued">{available_balance}</span></td>
                                <td class="status no-wrap"><span class="badge badge--subdued">{total_balance}</span></td>
                                <td class="status no-wrap"><span class="badge badge--info"><a href="customers/orders/{account_number}/">{ordercount}</a></span></td>
                                <td class="status no-wrap"><span class="badge badge--subdued">{title_eng}</span></td>
                            </tr>
                            </loop name="customers">
                        </tbody>
                        </table>
                        <script type="text/javascript">
						inlineCB = new iL_Inline('inlineCB', 'reqssss', 'formcustomers', '{_go}'); 
						</script>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    
    
    </div>

<div define="iLNav.setPage(['customers','customers_customers']), sLPage.close()"></div>
</if>
</if>
</section>
