<section>
    <script>
    Page();
    </script>
    <div id="navigation-index" refresh="navigation-index" class="page products-page has-contextual-help">
        <div class="header-row">
            <header class="header">
              <h1 class="header__main">
                <span class="glyphicons glyphicons-settings draw-icon" aria-hidden="true"></span>
                <span class="breadcrumb"><a href="{https_server_admin}settings/">{_settings}</a> / </span> {currentarea}
              </h1>
              
              <div class="header__primary-actions">
                
                
                </div>
                
            </header>
        </div>
        
        
        <div class="draw-grid draw-grid--outer-grid">
            <div class="draw-grid__cell">
                <div class="draw-card">
                    
                    <div class="has-bulk-actions">
                        <div>
                            <div>
                                <ul class="draw-tab__list" role="tablist">
                                
                                    <li role="presentation"><a class="draw-tab<if condition="empty($sheel->GPC['view'])"> draw-tab--is-active</if>" tabindex="0" aria-controls="NextTabPanel1" aria-selected="true" href="{https_server_admin}settings/bc/">All APIs
                                        <if condition="empty($sheel->GPC['view'])"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[number]}</span></if></a></li>
                                    <li role="presentation"><a class="draw-tab<if condition="isset($sheel->GPC['view']) AND $sheel->GPC['view'] == 'active'"> draw-tab--is-active</if>" tabindex="-1" aria-controls="NextTabPanel2" aria-selected="false" href="{https_server_admin}settings/bc/?view=active">{_active}
                                        <if condition="!empty($sheel->GPC['view']) AND $sheel->GPC['view'] == 'active'"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[number]}</span></if></a></li>
                                    <li role="presentation"><a class="draw-tab<if condition="isset($sheel->GPC['view']) AND $sheel->GPC['view'] == 'inactive'"> draw-tab--is-active</if>" tabindex="-1" aria-controls="NextTabPanel3" aria-selected="false" href="{https_server_admin}settings/bc/?view=inactive">{_inactive}
                                        <if condition="!empty($sheel->GPC['view']) AND $sheel->GPC['view'] == 'inactive'"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[number]}</span></if></a></li>
                                    
                                    <li class="draw-tab__list__disclosure-item dropdown-container">
                                        <span class="draw-tab draw-tab--disclosure" tabindex="-1" data-dropdown="~ .dropdown" aria-selected="true">
                                            <i class="ico ico-16-svg ico-chevron-down-blue"></i>
                                        </span>
                                        <div class="dropdown">
                                            <ul class="draw-tab__list--vertical" role="tablist"></ul>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                        <form id="formapi" class="draw-form draw-form--full-width" action="{https_server_admin}settings/bc/" accept-charset="UTF-8" method="post">
                        <div id="products-results" refresh="products">
                            <div class="draw-card__section">
                                <div class="table-wrapper">
                                    <table class="table-hover expanded" >
                                    <thead>
                                    <tr id="brands-search">
                                          <th class="select"><span id="bulkOperations">
                                                
                                                    <div class="tooltip tooltip-left-align tooltip-bottom bulk-actions__select-all-tooltip">
                                                        <div class="draw-input-wrapper bulk-actions__select-all btn--select-all bulk-actions__select-all--has-selected-items">
                                                        <input type="checkbox" onclick="inlineCB.check_all('invert')" class="draw-checkbox" id="checkboxall"><span class="draw-checkbox--styled"></span>
                                                        </div>
                                                    </div>
    
                                                    <div class="bulk-actions" style="width: 1600px;"> <!-- bulk-actions--is-visible -->
                                                        <ul class="segmented">
                                                        
                                                            <li>
                                                                <a class="btn btn-slim btn-disabled btn--selection">
                                                                    <span class="selection-count">
                                                                      <span id="selectedcount"></span> {_selected_apis}
                                                                    </span> 
                                                                </a>
                                                            </li>
                                                    
                                                            <li>
                                                                <a class="btn btn-slim hide" id="unselectalllink" aria-expanded="false" aria-haspopup="false" aria-owns="" onclick="inlineCB.check_all()">{_unselect_all}</a>
                                                                <div class="draw-popover__container">
                                                                    <a class="btn btn-slim" id="draw-popover-activator--1" aria-expanded="false" aria-haspopup="true" aria-owns="draw-popover--1" aria-controls="draw-popover--1">{_bulk_actions}</a>
                                                                    <div class="draw-popover draw-popover--full-height draw-popover--is-positioned-beneath" data-popover-css-vertical-margin="15" data-popover-css-horizontal-margin="20" data-popover-css-max-height="10000" data-popover-css-max-width="500" id="draw-popover--1" aria-labelledby="draw-popover-activator--1" aria-expanded="false" role="dialog" style="max-width: none; margin-right: 0px; margin-left: 0px; transform-origin: 111px -5px; left: -54px;">
                                                                        <div class="draw-popover__tooltip" style="left: 111px;"></div>
                                                                        <div class="draw-popover__content-wrapper">
                                                                            <div class="draw-popover__content" style="max-height: 637px;">
                                                                                <div class="draw-popover__pane">
                                                                                    <ul class="draw-list draw-list--compact">
                                                                                        
                                                                                        <li><a class="draw-list__item" data-bind-event-click="bulk_confirm('enable', 'Enable [x] selected API methods?', 'Are you sure you want to enable selected API methods? By doing so, devices will be able to connect and run selected API methods.', 'apiapif', 'selectedcount', '1', '0', '')">{_enable} {_selected_apis}</a></li>
                                                                                        <li><a class="draw-list__item" data-bind-event-click="bulk_confirm('disable', 'Disable [x] selected API methods?', 'Are you sure you want to disable selected API methods? By doing so, devices will no longer be able to connect to these API methods.', 'apiapif', 'selectedcount', '1', '0', '')">{_disable} {_selected_apis}</a></li>
                                                                                        
                                                                                    </ul>
                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            
                                                        </ul>
                                                    
                                                        <span class="bulk-select-all">
                                                                <p class="bulk-action-all-selector"></p>
                                                        </span>
                                                    </div>
                                                    </span></th>
                                          <th class="name is-sortable" nowrap="nowrap"><span><label>{_name}</label></span></th>
                                          <th class="name"><span><label>{_group}</label></span></th>
                                          <th class="name"><span><label>{_url}</label></span></th>
                                          <th class="name"><span><label>{_token}</label></span></th>
                                          <th class="name"><span><label>{_user}</label></span></th>
                                          <th class="name tc" nowrap="nowrap"><label>{_hits}</label></th>
                                          <th class="name tc" nowrap="nowrap"><label>{_success}</label></th>
                                          <th class="name tc" nowrap="nowrap"><label>{_failed}</label></th>
                                          <th class="name"><span><label>{_end_point}</label></span></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    <loop name="api">
                                    <tr id="tr_selected_{id}">
                                          <td class="select"><div class="draw-input-wrapper draw-input-wrapper--inline"><input type="checkbox" name="apiapi_{id}" id="apiapif_{id}" value="{id}" class="draw-checkbox" onchange="inlineCB.toggle(this)"><span class="draw-checkbox--styled"></span></div></td>
                                          <td class="name"><span class="type--subdued">{name}</span></td>
                                          <td class="name"><span class="type--subdued">{apigroup}</span></td>
                                          <td class="name"><span class="type--subdued">{value}</span></td>
                                          <td class="name"><span class="type--subdued">{tokenendpoint}</span></td>
                                          <td class="name"><span class="type--subdued">{clientid}</span></td>
                                          <td class="name tc"><span class="type--subdued">{hits}</span></td>
                                          <td class="name tc"><span class="type--subdued">{success}</span></td>
                                          <td class="name tc"><span class="type--subdued">{failed}</span></td>
                                          <td class="name"><span class="type--subdued">{active}</span></td>
                                      </tr>
                                    </loop name="api">
                                    </tbody>
                                    </table>
                                    <script type="text/javascript">
                                    inlineCB = new iL_Inline('inlineCB', 'apiapif', 'formapi', '{_go}');
                                    </script>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    
    </div>
    
    </section>
    
    <div define="iLNav.setPage(['settings','settings_bc']), sLPage.close()"></div>
    
    
    