<section>
    <script>
    Page();
    </script>
    <div id="membership-index" refresh="membership-index" class="page has-contextual-help">
        <div class="header-row">
            <header class="header">
            <h1 class="header__main">
                <span class="glyphicons glyphicons-settings draw-icon" aria-hidden="true"></span>
                    <span class="breadcrumb"><a href="{https_server_admin}settings/">{_settings}</a> / </span> {currentarea}
                </h1>
    
                <div class="header__primary-actions"></div>
    
            </header>
        </div>
        <if condition="!isset($sheel->GPC['subcmd']) OR (isset($sheel->GPC['subcmd']) AND $sheel->GPC['subcmd'] == 'add' OR $sheel->GPC['subcmd'] == 'update' AND isset($sheel->GPC['type']) AND $sheel->GPC['type'] == 'plan')"><div class="section login-services">
            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>{_subscription_plans}</h1>
                        <p>A membership plan defines specific access or permission rights to users for a fixed duration you set based on free or paid memberships.</p>
                        <p>From the admin side, plans can be used to group people like Admins, Moderators, Employees, etc. You will want to make sure these &quot;plans&quot; are <em>hidden</em> from the client-view.</p>
                        <p><if condition="!isset($sheel->GPC['subcmd'])"><a href="{https_server_admin}settings/memberships/add/plan/"><button name="button" type="button" data-accordion-toggler-for="" class="btn" id="ui-accordion__toggler--9" aria-expanded="false" aria-controls="ui-accordion__panel--9">Add new plan</button></a><else /><a href="{https_server_admin}settings/memberships/"><button name="button" type="button" data-accordion-toggler-for="" class="btn" id="ui-accordion__toggler--9" aria-expanded="false" aria-controls="ui-accordion__panel--9">{_cancel}</button></a></if></p>
                    </div>
                </div>
                <div class="layout-content__main">
                    <if condition="!isset($sheel->GPC['subcmd']) OR $sheel->GPC['type'] != 'plan'">
                    <div class="draw-card">
                        <div class="section-content">
                            <div class="draw-card__section">
                                <div class="table-wrapper">
                                    <table class="expanded">
                                        <thead>
                                            <tr>
                                                  <th>{_badge}</th>
                                                <th>{_title}</th>
                                                <th>{_description}</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <loop name="subscription_rows">
                                            <tr valign="top">
                                              <td width="1%"><img src="{imguploadscdn}plan/{icon}" alt="{title}"></td>
                                                <td width="20%"><a href="{https_server_admin}settings/memberships/update/plan/{subscriptionid}/">{title}</a><div class="type--subdued">{active} users active, {expired} inactive</div></td>
                                                <td>{cost} ({length} {units})
                                                <div class="type--subdued">{_permission}: {access}</div>
                                                <div class="type--subdued">{_visible}: {visibility}</div></td>
                                                <td class="tr">
    
                                                <ul class="segmented">
                                                    <li>
    
                                                        <a href="{https_server_admin}settings/memberships/update/permissions/{subscriptionid}/" class="btn btn-slim btn--icon" title="Configure permissions for this membership.">
                                                          <span class="ico-16-svg halflings halflings-cog draw-icon" aria-hidden="true"></span>
                                                        </a>
    
                                                    </li>
    
                                                  <li>
                                                      <if condition="isset($sheel->show['candelete_{subscriptionid}']) AND $sheel->show['candelete_{subscriptionid}']">
                                                        <a href="javascript:;" data-bind-event-click="acp_confirm('delete', 'Delete selected membership?', 'Are you sure you want to delete the selected membership?', '{subscriptionid}', 1, '', '{https_server_admin}settings/memberships/delete/plan/{subscriptionid}/')" class="btn btn-slim btn--icon" title="{_delete}"><span class="ico-16-svg halflings halflings-trash draw-icon" aria-hidden="true"></span></a>
                                                   
                                                    <else />
                                                    <a href="javascript:;" class="btn btn-slim btn--icon" title="{_delete}">
                                                      <span class="ico-16-svg halflings halflings-trash draw-icon--sky-darker" aria-hidden="true"></span>
                                                    </a>
                                                    </if>
                                                  </li>
                                                </ul>
    
                                                </td>
                                            </tr>
                                            </loop name="subscription_rows">
                                        </tbody>
                                    </table>
    
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <!-- view mode -->
                    </if>
    
                    <if condition="isset($sheel->GPC['subcmd']) AND ($sheel->GPC['subcmd'] == 'add' OR $sheel->GPC['subcmd'] == 'update') AND isset($sheel->GPC['type']) AND $sheel->GPC['type'] == 'plan'">
                    <br />
                    <form autocomplete="off" action="{https_server_admin}settings/memberships/" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
                    <if condition="isset($sheel->GPC['subcmd']) AND $sheel->GPC['subcmd'] == 'add'">
                        <input type="hidden" name="subcmd" value="add" />
                    <else />
                        <input type="hidden" name="subcmd" value="update" />
                        <input type="hidden" name="subscriptionid" value="{form[subscriptionid]}" />
                    </if>
                    <input type="hidden" name="type" value="plan" />
                    <input type="hidden" name="do" value="save" />
                    <div class="draw-card" id="newplan">
    
                        <div class="draw-card__section">
                            <label class="draw-label" for="form_title">{_title}</label>
                            <loop name="languages_plan">
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
    
                                    <input class="draw-input with-add-on" size="30" type="text" name="form[title_{languagecode}]" id="form_title_{languagecode}" value="{form[title_{languagecode}]}" placeholder="{language}" dir="{form[textdirection_{languagecode}]}"><span class="add-on-plain after fr type--subdued fr-textinput-icon">{form[flag_{languagecode}]}</span>
                                    </div>
                                </div>
                            </div>
                            </loop name="languages_plan">
                         </div>
    
                         <div class="draw-card__section">
                            <label class="draw-label" for="form_description">{_description}</label>
                            <loop name="languages_plan">
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                    <input class="draw-input with-add-on" size="30" type="text" name="form[description_{languagecode}]" id="form_description_{languagecode}" value="{form[description_{languagecode}]}" placeholder="{language}" dir="{form[textdirection_{languagecode}]}"><span class="add-on-plain after fr type--subdued fr-textinput-icon">{form[flag_{languagecode}]}</span>
                                    </div>
                                </div>
                            </div>
                            </loop name="languages_plan">
                         </div>
    
                         <div class="draw-card__section">
    
                         <div class="draw-card__section">
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                    <label class="draw-label" for="form_cost">{_cost}</label>
                                    <input class="draw-input" size="30" type="text" name="form[cost]" id="form_cost" value="{form[cost]}" placeholder="0.00">
                                    </div>
                                </div>
    
                            </div>
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                    <label class="draw-label" for="form_length">{_length}</label>
                                        <div class="draw-select__wrapper draw-input--has-content">
                                            {form[duration_pulldown]}
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                    <label class="draw-label" for="form_length">{_unit}</label>
                                        <div class="draw-select__wrapper draw-input--has-content">
                                            {form[unit_pulldown]}
                                        </div>
                                     </div>
                                     <if condition="isset($sheel->config['eway_subscriptions']) AND $sheel->config['eway_subscriptions'] AND $sheel->config['eway_active']"><p class="type--subdued st">If you offer recurring memberships via eWay leave the length as <strong>1</strong> and the unit on <strong>month</strong> or <strong>year</strong>.</p></if>
                                </div>
    
                            </div>
                        </div>
    
                         <div class="draw-card__section">
                             <div class="draw-grid draw-grid--no-outside-padding">
                                 <div class="draw-grid__cell">
                                     <div class="draw-input-wrapper">
                                         <label class="draw-label" for="form_active">{_plan_is_active}</label>
                                         <input type="checkbox" name="form[active]" id="form_active" value="1" {form[active]}> {_yes}
                                     </div>
                                 </div>
                             </div>
                             <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                        <label class="draw-label" for="form_canremove">{_can_remove}</label>
                                        <input type="checkbox" name="form[canremove]" id="form_active" value="1" {form[canremove]}> {_yes}
                                    </div>
                                </div>
                            </div>
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                    <label class="draw-label" for="form_visible">{_plan_is_visible_in}</label>
                                        <div class="draw-select__wrapper draw-input--has-content">
                                        {form[visible_pulldown]}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                    <label class="draw-label" for="form_icon">{_subscription_plan_icon}</label>
                                    <div class="type--subdued sb">Path: /application/uploads/attachments/plan/</div>
                                    <div class="draw-select__wrapper draw-input--has-content">
                                        {form[icon_pulldown]}
                                    </div>
                                    </div>
    
                                    <div class="styled-file-input fl sr st">
                                        <div class="btn"> <span>{_upload} Badge <img src="{imgcdn}v5/ico_working.gif" border="0" alt="" id="uploading" style="display:none" /></span><input type="file" name="badge" class="js-no-dirty" id="uploader"></div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="draw-grid draw-grid--no-outside-padding">
                                <div class="draw-grid__cell">
                                    <div class="draw-input-wrapper">
                                    <label class="draw-label" for="form_icon">{_display_order}</label>
                                    <input type="text" name="form[sort]" size="10" value="{form[sort]}" class="draw-input" />
                                    </div>
                                </div>
    
                            </div>
                         </div>
    
                        
    
                    </div>
                    <div class="draw-grid draw-grid--right-aligned">
                        <div class="draw-grid__cell draw-grid__cell--no-flex">
                            <button type="submit" class="btn js-btn-primary js-btn-loadable has-loading btn-primary">{_save}</button>
                        </div>
                    </div>
                    </form>
                    </if>
    
    
                </div>
            </div>
        </div>
        </if>
    

    
    

    
        <if condition="isset($sheel->GPC['subcmd']) AND $sheel->GPC['subcmd'] == 'update' AND isset($sheel->GPC['type']) AND $sheel->GPC['type'] == 'permissions'">
        <form autocomplete="off" action="{https_server_admin}settings/memberships/" accept-charset="UTF-8" method="post">
        <input type="hidden" name="subcmd" value="update" />
        <input type="hidden" name="subscriptionid" value="{form[subscriptionid]}" />
        <input type="hidden" name="type" value="permissions" />
        <input type="hidden" name="do" value="save" />
        <loop name="access_permission_groups">
        <div class="section email-templates">
                <div class="layout-content">
                    <div class="layout-content__sidebar layout-content__first">
                        <div class="section-summary">
                            <h1>{title}</h1>
                            <p>{help}</p>
                        </div>
                    </div>
                    <div class="layout-content__main">
                        <div class="draw-card">
                            <div class="section-content">
                                <div class="draw-card__section">
                                    <div class="table-wrapper">
                                        <table class="expanded">
                                        <thead>
                                            <tr>
                                                <th width="30%">{_title}</th>
                                                <th width="55%">{_description}</th>
                                                <th width="14%">{_setting}</th>
                                                <th width="1%">{_visible}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <loop name="access_permission_items{accessgroup}">
                                            <tr valign="top">
                                                <td><a>{accesstext}</a></td>
                                                <td><p class="type--subdued">{accessdescription}</p></td>
                                                <td nowrap="nowrap">{userinput}</td>
                                                <td>{visible_perm}</td>
                                            </tr>
                                            </loop name="access_permission_items{accessgroup}">
                                        </tbody>
                                        </table>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </loop name="access_permission_groups">
            <div class="section">
            <div class="draw-grid draw-grid--right-aligned">
                <div class="draw-grid__cell draw-grid__cell--no-flex">
                    <button type="submit" class="btn js-btn-primary js-btn-loadable has-loading btn-primary">{_save}</button>
                </div>
            </div>
        </div>
        </form>
        </if>
    
        <if condition="!isset($sheel->GPC['subcmd'])">
        <form autocomplete="off" action="{https_server_admin}settings/globalupdate/" accept-charset="UTF-8" method="post">
        <input type="hidden" name="subcmd" value="_update-config-settings" />
        <input type="hidden" name="return" value="{url}" />
        {settings}
    
        <div class="section">
            <div class="draw-grid draw-grid--right-aligned">
                <div class="draw-grid__cell draw-grid__cell--no-flex">
                    <button type="submit" class="btn js-btn-primary js-btn-loadable has-loading btn-primary">{_save}</button>
                </div>
            </div>
        </div>
        </form>
        </if>
    </div>
    </section>
    
    <div define="iLNav.setPage(['settings','settings_memberships']), iLPage.close()"></div>
    