<section>
    <script>
    Page();
    </script>
    <div id="sizingrule-index" refresh="sizingrule-index" class="page has-contextual-help">
        <div class="header-row">
            <header class="header">
            <h1 class="header__main">
                <span class="glyphicons glyphicons-settings draw-icon" aria-hidden="true"></span>
                    <span class="breadcrumb"><a href="{https_server_admin}settings/">{_settings}</a> / </span> {currentarea}
                </h1>
                <div class="header__primary-actions">
                    <if condition="isset($sheel->GPC['subcmd']) AND $sheel->GPC['subcmd'] == 'update'">
                        <div id="savingstatus" class="mw-40">{_saved}</div>
                    </if>
                </div>
            </header>
        </div>
        <div class="section">
            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>Prompts</h1>
                        <p>Open AI Prompts defines prompts structure and parameters.</p>
                        <if condition="isset($sheel->GPC['subcmd']) AND ($sheel->GPC['subcmd'] == 'add' OR $sheel->GPC['subcmd'] == 'update')"><p><a href="{https_server_admin}settings/openai/"><button name="button" type="button" data-accordion-toggler-for="" class="btn">{_cancel}</button></a></p><else /><p><a href="{https_server_admin}settings/openai/add/"><button name="button" type="button" data-accordion-toggler-for="" class="btn">Add Prompt</button></a></p><p><a href="{https_server_admin}settings/openai/config/"><button name="button" type="button" data-accordion-toggler-for="" class="btn">Configurations</button></a></p></if>
                    </div>
                </div>
                
                <if condition="isset($sheel->GPC['subcmd']) AND $sheel->GPC['subcmd'] == 'add'">
                    <div class="layout-content__main">
                        <form autocomplete="off" action="{https_server_admin}settings/openai/" accept-charset="UTF-8" method="post" enctype="multipart/form-data" onsubmit="return submit_openai_form()">
                            <input type="hidden" name="subcmd" value="add" />
                            <input type="hidden" name="do" value="save" />
                            <div data-modal-context-ref-for="preview_modal"></div>
                            <div class="ui-layout">
                                <div class="ui-layout__sections">
                                    <div class="ui-layout__section ui-layout__section--primary">
                                        <div class="ui-layout__item">
                                            <div class="draw-card">
                                                <section class="draw-card__section">
                                                   
                                                    <div class="draw-input-wrapper">
                                                        <label class="draw-label" for="title">{_name}</label>
                                                        <loop name="languages">
                                                        <div class="sb"><input class="draw-input with-add-on" size="30" type="text" value="" name="varname" id="varname"></div>
                                                        </loop name="languages">
                                                    </div>
                                                </section>
                                                <section class="draw-card__section">
                                                    <div class="draw-input-wrapper">
                                                        <label class="draw-label" for="subject">{_description}</label>
                                                        <loop name="languages">
                                                        <div class="sb"><noparse><input class="draw-input with-add-on" size="255" type="text" value="" name="description" id="description"  ></noparse></div>
                                                        </loop name="languages">
                                                    </div>
                                                </section>
                                                <section class="draw-card__section">
                                                    <div class="draw-input-wrapper">
                                                        <label class="draw-label" for="body">{_prompt}</label>
                                                        <loop name="languages">
                                                       <div style="padding-bottom:6px"><noparse><textarea expanding="true" class="draw-textarea draw-textarea--expanding" name="prompt_text" id="prompt_text" style="height: 550px;" ></textarea></noparse></div>
                                                        </loop name="languages">
                                                    </div>
                                                </section>
                                                <section class="draw-card__section">
                                                    <div class="draw-input-wrapper">
                                                        <label class="draw-label" for="body_html">{_context} / {_system_prompt}</label>
                                                        <loop name="languages">
                                                        <div style="padding-bottom:6px"><noparse><textarea expanding="true" class="draw-textarea draw-textarea--expanding" name="prompt_context" id="prompt_context" style="height: 550px;" ></textarea></noparse></div>
                                                        </loop name="languages">
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-layout__section ui-layout__section--secondary">
                                        <div class="ui-layout__item">
                                            <div class="draw-card draw-card--aside">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Prompt variables</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">You can use prompt {{variables}} to input different information within the prompts. </p>
                                                    <ul class="type--half-margin">
                                                        <div style="padding-bottom:6px"><noparse><textarea expanding="true" class="draw-textarea draw-textarea--expanding" name="prompt_parameters" id="prompt_parameters" style="height: 150px;" ></textarea></noparse></div>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="draw-card draw-card--aside">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Response Schema</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">This is the json schema that will be returned after the prompt.</p>
                                                    <ul class="type--half-margin">
                                                        <div style="padding-bottom:6px"><noparse><textarea expanding="true" class="draw-textarea draw-textarea--expanding" name="response_schema" id="response_schema" style="height: 250px;" ></textarea></noparse></div>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="draw-card draw-card--aside" id="groupdiv">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Prompt Group</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">Prompt Groups allow you to define the group related to that prompt.</p>
                                                    <div class="type--half-margin">
                                                        <div style="padding-bottom:6px">
                                                            <label for="sizing"><input type="radio" value="sizing" name="group" id="group"> <span class="badge badge--subdued">Sizing</span></label>
                                                        </div>
                                                        <div>
                                                            <label for="global"><input type="radio" value="global" name="group" id="group"> <span class="badge badge--subdued">Global</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="draw-card draw-card--aside" id="typediv">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Prompt Type</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">Prompt Types allow you to define the type related to that prompt.</p>
                                                    <div class="type--half-margin">
                                                        <div style="padding-bottom:6px">
                                                            <label for="chat"><input type="radio" value="chat" name="type" id="type"> <span class="badge badge--subdued">Chat</span></label>
                                                        </div>
                                                        <div>
                                                            <label for="image"><input type="radio" value="image" name="type" id="type"> <span class="badge badge--subdued">Image</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="draw-card draw-card--aside" id="adminonlydiv">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Admin Only</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">Flag to only allow admin roles to execute the prompt.</p>
                                                    <div class="type--half-margin">
                                                        <div style="padding-bottom:6px">
                                                            <label for="yes"><input type="radio" value="1" name="adminonly" id="adminonly"> <span class="badge badge--subdued">Yes</span></label>
                                                        </div>
                                                        <div>
                                                            <label for="no"><input type="radio" value="0" name="adminonly" id="adminonly"> <span class="badge badge--subdued">No</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="ui-page-actions">
                                <div class="ui-page-actions__primary">
                                    <div class="button-group button-group--right-aligned">
                                       <button type="submit" class="btn js-btn-primary js-btn-loadable has-loading btn-primary">{_save}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                <else />
                <if condition="isset($sheel->GPC['subcmd']) AND $sheel->GPC['subcmd'] == 'update'">
                    <div class="layout-content__main">
                        <form autocomplete="off" action="{https_server_admin}settings/openai/" accept-charset="UTF-8" method="post" enctype="multipart/form-data" onsubmit="return submit_openai_form()">
                            <input type="hidden" name="subcmd" value="update" />
                            <input type="hidden" name="do" value="save" />
                            <input type="hidden" name="id" value="{form[id]}" />
                            <div data-modal-context-ref-for="preview_modal"></div>
                            <div class="ui-layout">
                                <div class="ui-layout__sections">
                                    <div class="ui-layout__section ui-layout__section--primary">
                                        <div class="ui-layout__item">
                                            <div class="draw-card">
                                                <section class="draw-card__section">
                                                   
                                                    <div class="draw-input-wrapper">
                                                        <label class="draw-label" for="title">{_name}</label>
                                                        <loop name="languages">
                                                        <div class="sb"><input class="draw-input with-add-on" size="30" type="text" value="{form[varname]}" name="varname" id="varname"></div>
                                                        </loop name="languages">
                                                    </div>
                                                </section>
                                                <section class="draw-card__section">
                                                    <div class="draw-input-wrapper">
                                                        <label class="draw-label" for="subject">{_description}</label>
                                                        <loop name="languages">
                                                        <div class="sb"><noparse><input class="draw-input with-add-on" size="255" type="text" value="{form[description]}" name="description" id="description"  ></noparse></div>
                                                        </loop name="languages">
                                                    </div>
                                                </section>
                                                <section class="draw-card__section">
                                                    <div class="draw-input-wrapper">
                                                        <label class="draw-label" for="body">{_prompt}</label>
                                                        <loop name="languages">
                                                       <div style="padding-bottom:6px"><noparse><textarea expanding="true" class="draw-textarea draw-textarea--expanding" name="prompt_text" id="prompt_text" style="height: 550px; overflow-y: auto;" >{form[prompt_text]}</textarea></noparse></div>
                                                        </loop name="languages">
                                                    </div>
                                                </section>
                                                <section class="draw-card__section">
                                                    <div class="draw-input-wrapper">
                                                        <label class="draw-label" for="body_html">{_context} / {_system_prompt}</label>
                                                        <loop name="languages">
                                                        <div style="padding-bottom:6px"><noparse><textarea expanding="true" class="draw-textarea draw-textarea--expanding" name="prompt_context" id="prompt_context" style="height: 550px; overflow-y: auto;" >{form[prompt_context]}</textarea></noparse></div>
                                                        </loop name="languages">
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-layout__section ui-layout__section--secondary">
                                        <div class="ui-layout__item">
                                            <div class="draw-card draw-card--aside">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Prompt variables</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">You can use prompt {{variables}} to input different information within the prompts. </p>
                                                    <ul class="type--half-margin">
                                                        <div style="padding-bottom:6px"><noparse><textarea expanding="true" class="draw-textarea draw-textarea--expanding" name="prompt_parameters" id="prompt_parameters" style="height: 150px; overflow-y: auto;" >{form[prompt_parameters]}</textarea></noparse></div>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="draw-card draw-card--aside">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Response Schema</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">This is the json schema that will be returned after the prompt.</p>
                                                    <ul class="type--half-margin">
                                                        <div style="padding-bottom:6px"><noparse><textarea expanding="true" class="draw-textarea draw-textarea--expanding" name="response_schema" id="response_schema" style="height: 250px; overflow-y: auto;" >{form[response_schema]}</textarea></noparse></div>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="draw-card draw-card--aside" id="groupdiv">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Prompt Group</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">Prompt Groups allow you to define the group related to that prompt.</p>
                                                    <div class="type--half-margin">
                                                        <div style="padding-bottom:6px">
                                                            <label for="sizing"><input type="radio" value="sizing" name="group"{form[groupsizing]} id="group"> <span class="badge badge--subdued">Sizing</span></label>
                                                        </div>
                                                        <div>
                                                            <label for="global"><input type="radio" value="global" name="group"{form[groupglobal]} id="group"> <span class="badge badge--subdued">Global</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="draw-card draw-card--aside" id="typediv">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Prompt Type</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">Prompt Types allow you to define the type related to that prompt.</p>
                                                    <div class="type--half-margin">
                                                        <div style="padding-bottom:6px">
                                                            <label for="chat"><input type="radio" value="chat" name="type"{form[typechat]} id="type"> <span class="badge badge--subdued">Chat</span></label>
                                                        </div>
                                                        <div>
                                                            <label for="image"><input type="radio" value="image" name="type"{form[typeimage]} id="type"> <span class="badge badge--subdued">Image</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="draw-card draw-card--aside" id="adminonlydiv">
                                                <div class="draw-card__header">
                                                    <h2 class="draw-heading">Admin Only</h2>
                                                </div>
                                                <div class="draw-card__section">
                                                    <p class="type--half-margin">Flag to only allow admin roles to execute the prompt.</p>
                                                    <div class="type--half-margin">
                                                        <div style="padding-bottom:6px">
                                                            <label for="yes"><input type="radio" value="1" name="adminonly"{form[adminonlyyes]} id="adminonly"> <span class="badge badge--subdued">Yes</span></label>
                                                        </div>
                                                        <div>
                                                            <label for="no"><input type="radio" value="0" name="adminonly"{form[adminonlyno]} id="adminonly"> <span class="badge badge--subdued">No</span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="ui-page-actions">
                                <div class="ui-page-actions__primary">
                                    <div class="button-group button-group--right-aligned">
                                       <button type="submit" class="btn js-btn-primary js-btn-loadable has-loading btn-primary">{_save}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                <else />
                    <div class="layout-content__main">
                        <div>
                            <ul class="draw-tab__list" role="tablist">
                                <li role="presentation"><a class="draw-tab<if condition="!isset($sheel->GPC['view'])"> draw-tab--is-active</if>" tabindex="0" aria-controls="NextTabPanel1" aria-selected="true" href="settings/openai/">{_chat_prompts}<if condition="empty($sheel->GPC['view'])"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[count]}</span></if></a></li>
                                <li role="presentation"><a class="draw-tab<if condition="isset($sheel->GPC['view']) AND $sheel->GPC['view'] == 'images'"> draw-tab--is-active</if>" tabindex="-1" aria-controls="NextTabPanel3" aria-selected="false" href="settings/openai/?view=images">{_image_prompts} <if condition="!empty($sheel->GPC['view']) AND $sheel->GPC['view'] == 'images'"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[count]}</span></if></a></li>
                                <li class="draw-tab__list__disclosure-item dropdown-container"><span class="draw-tab draw-tab--disclosure" tabindex="-1" data-dropdown="~ .dropdown" aria-selected="true"><i class="ico ico-16-svg ico-chevron-down-blue"></i></span>
                                    <div class="dropdown">
                                        <ul class="draw-tab__list--vertical" role="tablist"></ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="draw-card">
                            <div class="section-content">
                                <div class="draw-card__section">
                                    <div class="table-wrapper">
                                        <table class="expanded">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th class="no-wrap">Description</th>
                                                    <th class="no-wrap">Group</th>
                                                    <th>Admin Only</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <loop name="prompts">
                                                <tr>
                                                    <td><a href="{https_server_admin}settings/openai/update/{varname}/">{varname}</a> </td>
                                                    <td>{description}</td>
                                                    <td>{group} </td>
                                                    <td>{adminonly}</td>
                                                    <td class="tr">
                                                        <ul class="segmented">
                                                        <li>
                                                            <a href="javascript:;" data-bind-event-click="acp_confirm('delete', 'Delete selected prompt?', 'Are you sure you want to delete the selected prompt?', '{id}', 1, '', '{https_server_admin}settings/openai/delete/{id}/')" class="btn btn-slim btn--icon" title="{_delete}"><span class="ico-16-svg halflings halflings-trash draw-icon" aria-hidden="true"></span></a>
                                                        </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                </loop name="prompts">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </if>
                </if>
            </div>
        </div>
    </div>
    </section>
    
    <div define="iLNav.setPage(['settings','settings_openai']), sLPage.close()"></div>
    