<section>
    <script>
    Page();
    </script>
    <div id="sizingrule-index" refresh="sizingrule-index" class="page has-contextual-help">
        <div class="header-row">
            <header class="header">
            <h1 class="header__main">
                <span class="glyphicons glyphicons-settings draw-icon" aria-hidden="true"></span>
                    <span class="breadcrumb"><a href="{https_server_admin}settings/">{_settings}</a> / </span> {currentarea}
                </h1>
    
                <div class="header__primary-actions"></div>
    
            </header>
        </div>
        <if condition="isset($sheel->GPC['subcmd']) AND $sheel->GPC['subcmd'] == 'add'">
            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>Sizing Rules</h1>
                        <p>A sizing rule defines specific criterias to auto suggest sizes from measurements.</p>
                        <p><a href="{https_server_admin}settings/sizingrules/"><button name="button" type="button" data-accordion-toggler-for="" class="btn" id="ui-accordion__toggler--9" aria-expanded="false" aria-controls="ui-accordion__panel--9">{_cancel}</button></a></p>
                    </div>
                </div>
                <div class="layout-content__main">
                    <form autocomplete="off" action="{https_server_admin}settings/sizingrules/" accept-charset="UTF-8" method="post" enctype="multipart/form-data" onsubmit="return submit_sizingrule_form()">
                        <input type="hidden" name="subcmd" value="add" />
                        <input type="hidden" name="do" value="save" />
                        <div class="draw-card" id="newsizingrule">
                            <div class="draw-card__section">
                                <div class="draw-grid draw-grid--no-outside-padding">
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                        <label>{_code}</label>
                                        <input class="draw-input with-add-on" size="30" type="text" name="code" id="code"  placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="draw-grid draw-grid--no-outside-padding">
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label>{_gender}</label>
                                            <div class="draw-select__wrapper draw-input--has-content">
                                                {form[gender]}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="draw-grid draw-grid--no-outside-padding">
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label>{_type}</label>
                                            <div  id="type-wrapper">
                                                {form[type]}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="draw-grid draw-grid--no-outside-padding">
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label>{_measurement} {_code}</label>
                                            <input class="draw-input with-add-on" size="30" type="text" name="mcode" id="mcode"  placeholder=""> 
                                        </div>
                                    </div>
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label>{_measurement} {_name}</label>
                                            <input class="draw-input with-add-on" size="30" type="text" name="mname" id="mname"  placeholder="">
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="draw-grid draw-grid--no-outside-padding">
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <input type="checkbox" name="isformula" id="isformula" value="1"> {_isformula}
                                            <input class="draw-input with-add-on" size="50" type="text" name="mformula" id="mformula"  placeholder="Enter Formula">
                                        </div>
                                    </div>
                                </div>
                                <div class="draw-grid draw-grid--no-outside-padding">
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label>{_impact}</label>
                                            <div class="draw-select__wrapper draw-input--has-content">
                                                {form[impact]}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="draw-grid draw-grid--no-outside-padding">
                                    <div class="draw-grid__cell">
                                        <div class="draw-input-wrapper">
                                            <label>{_priority}</label>
                                            <input class="draw-input with-add-on" min="0" max="20" value="0" type="number" name="priority" id="priority">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="hr-20-0-20-0"></div>
                        
                                <input type="hidden" id="active_rules" name="active_rules" value="1" />
                                <div id="rule-1">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc">Rule #1: </span></legend>
                                            <div class="draw-grid draw-grid--no-outside-padding draw-grid--inner-grid">
                                                <div class="draw-grid__cell">
                                                    <div class="draw-input-wrapper">
                                                        <label>{_rank}</label>
                                                        <input class="draw-input with-add-on" size="2" type="text" value="0" name="rank_1" id="rank_1"  placeholder="">
                                                    </div>
                                                </div>
                                                <div class="draw-grid__cell">
                                                    <label>{_impact} {_value}</label>
                                                    <div class="draw-select__wrapper draw-input--has-content" id="value-wraper">
                                                        <div  id="value-wrapper">
                                                            {form[impactvalue]}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="draw-grid__cell">
                                                    <div class="draw-input-wrapper">
                                                        <label>{_value_low}</label>
                                                        <input class="draw-input with-add-on" size="50" type="text" value="0" name="valuelow_1" id="valuelow_1"  placeholder="">
                                                    </div>
                                                </div>
                                                <div class="draw-grid__cell">
                                                    <div class="draw-input-wrapper">
                                                        <label>{_value_high}</label>
                                                        <input class="draw-input with-add-on" size="50" type="text" value="0" name="valuehigh_1" id="valuehigh_1"  placeholder="">
                                                    </div>
                                                </div>
                                                <div class="draw-grid__cell">
                                                    <label>{_uom}</label>
                                                    <div class="draw-select__wrapper draw-input--has-content" id="value-wraper">
                                                        <div>
                                                            {form[uom]}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                    </fieldset>
                                </div>
                                <div id="rule-2" class="hide">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc"><img src="{imgcdn}v5/ico_working.gif" width="13" height="13" alt="{_loading}" /></span></legend>
                                    </fieldset>
                                </div>
                                <div id="rule-3" class="hide">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc"><img src="{imgcdn}v5/ico_working.gif" width="13" height="13" alt="{_loading}" /></span></legend>
                                    </fieldset>
                                </div>
                                <div id="rule-4" class="hide">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc"><img src="{imgcdn}v5/ico_working.gif" width="13" height="13" alt="{_loading}" /></span></legend>
                                    </fieldset>
                                </div>
                                <div id="rule-5" class="hide">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc"><img src="{imgcdn}v5/ico_working.gif" width="13" height="13" alt="{_loading}" /></span></legend>
                                    </fieldset>
                                </div>
                                <div id="rule-6" class="hide">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc"><img src="{imgcdn}v5/ico_working.gif" width="13" height="13" alt="{_loading}" /></span></legend>
                                    </fieldset>
                                </div>
                                <div id="rule-7" class="hide">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc"><img src="{imgcdn}v5/ico_working.gif" width="13" height="13" alt="{_loading}" /></span></legend>
                                    </fieldset>
                                </div>
                                <div id="rule-8" class="hide">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc"><img src="{imgcdn}v5/ico_working.gif" width="13" height="13" alt="{_loading}" /></span></legend>
                                    </fieldset>
                                </div>
                                <div id="rule-9" class="hide">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc"><img src="{imgcdn}v5/ico_working.gif" width="13" height="13" alt="{_loading}" /></span></legend>
                                    </fieldset>
                                </div>
                                <div id="rule-10" class="hide">
                                    <fieldset class="mb-20">
                                        <legend><span class="smaller litegray left prl-6 pt-12 uc"><img src="{imgcdn}v5/ico_working.gif" width="13" height="13" alt="{_loading}" /></span></legend>
                                    </fieldset>
                                </div>
                               
                                <div><button type="button" class="btn btn-primary" onclick="add_rule('form[impact]')"><span>{_add_rule}</span></button>&nbsp;&nbsp;&nbsp;<a href="javascript:;" onclick="remove_rule('form[impact]')" class="btn btn-secondary btn-small">{_remove_rule}</a></div>

                            </div>
                            <div class="draw-grid draw-grid--right-aligned">
                                <div class="draw-grid__cell draw-grid__cell--no-flex">
                                    <button type="submit" class="btn js-btn-primary js-btn-loadable has-loading btn-primary">{_save}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        <else />
            <div class="layout-content">
                <div class="layout-content__sidebar layout-content__first">
                    <div class="section-summary">
                        <h1>Sizing Rules</h1>
                        <p>A sizing rule defines specific criterias to auto suggest sizes from measurements.</p>
                        <p><a href="{https_server_admin}settings/sizingrules/add/"><button name="button" type="button" data-accordion-toggler-for="" class="btn" id="ui-accordion__toggler--9" aria-expanded="false" aria-controls="ui-accordion__panel--9">Add Rule</button></a></p>
                    </div>
                </div>
                <div class="layout-content__main">
                    <div>
                        <ul class="draw-tab__list" role="tablist">
                            <li role="presentation"><a class="draw-tab<if condition="!isset($sheel->GPC['view'])"> draw-tab--is-active</if>" tabindex="0" aria-controls="NextTabPanel1" aria-selected="true" href="settings/sizingrules/">{_male}<if condition="empty($sheel->GPC['view'])"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[count]}</span></if></a></li>
                            <li role="presentation"><a class="draw-tab<if condition="isset($sheel->GPC['view']) AND $sheel->GPC['view'] == 'female'"> draw-tab--is-active</if>" tabindex="-1" aria-controls="NextTabPanel3" aria-selected="false" href="settings/sizingrules/?view=female">{_female} <if condition="!empty($sheel->GPC['view']) AND $sheel->GPC['view'] == 'female'"> &nbsp;<span class="cbadge lineitems cbadge-notification">{form[count]}</span></if></a></li>
                            <li class="draw-tab__list__disclosure-item dropdown-container"><span class="draw-tab draw-tab--disclosure" tabindex="-1" data-dropdown="~ .dropdown" aria-selected="true"><i class="ico ico-16-svg ico-chevron-down-blue"></i></span>
                                <div class="dropdown">
                                    <ul class="draw-tab__list--vertical" role="tablist"></ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="draw-card">
                        <div class="section-content">
                            <div class="draw-card__section">
                                <div class="table-wrapper">
                                    <table class="expanded">
                                        <thead>
                                            <tr>
                                                <th>{_code}</th>
                                                <th>{_measurement} {_details}</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <loop name="rules_rows">
                                            <tr valign="top">
                                                <td width="20%"><a href="{https_server_admin}settings/sizingrules/update/{code}/">{code}</a><div class="type--subdued">{totalrules} rule lines, {totaltypes} types</div></td>
                                                <td>{mcname} ({mccode})
                                                <div class="type--subdued">{_rules}: {access}</div>
                                                <div class="type--subdued">{_gender}: {gender}</div></td>
                                                <td class="tr">

                                                <ul class="segmented">
                                                    <li>

                                                        <a href="{https_server_admin}settings/sizingrules/update/{code}/" class="btn btn-slim btn--icon" title="Configure permissions for this sizingrule.">
                                                        <span class="ico-16-svg halflings halflings-cog draw-icon" aria-hidden="true"></span>
                                                        </a>

                                                    </li>

                                                <li>
                                                    <a href="javascript:;" data-bind-event-click="acp_confirm('delete', 'Delete selected sizingrule?', 'Are you sure you want to delete the selected sizing rule?', '{code}', 1, '', '{https_server_admin}settings/sizingrules/delete/{code}/')" class="btn btn-slim btn--icon" title="{_delete}"><span class="ico-16-svg halflings halflings-trash draw-icon" aria-hidden="true"></span></a>
                                                </li>
                                                </ul>

                                                </td>
                                            </tr>
                                            </loop name="rules_rows">
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </if>
        
    </div>
    </section>
    
    <div define="iLNav.setPage(['settings','settings_sizingrules']), iLPage.close()"></div>
    