.topic-reply-indent2,
.topic-reply-indent3,
.topic-reply-indent4,
.topic-reply-indent5,
.topic-reply-indent6,
.topic-reply-indent7,
.topic-reply-indent8,
.topic-reply-indent9,
.topic-reply-indent10,
.topic-reply-indent11 {
	background: transparent url({imgcdn}topic-indent-left.gif) no-repeat {template_textalignment} top;
	padding-{template_textalignment}: 18px;
}
.topic-reply-indent11 {
	margin-{template_textalignment}: 180px;
}
.topic-reply-indent10 {
	margin-{template_textalignment}: 160px;
}
.topic-reply-indent9 {
	margin-{template_textalignment}: 140px;
}
.topic-reply-indent7 {
	margin-{template_textalignment}: 100px;
}
.topic-reply-indent8 {
	margin-{template_textalignment}: 120px;
}
.topic-reply-indent6 {
	margin-{template_textalignment}: 80px;
}
.topic-reply-indent5 {
	margin-{template_textalignment}: 60px;
}
.topic-reply-indent4 {
	margin-{template_textalignment}: 40px;
}
.quotereply .quotereply .quotereply {
	background-image: url({imgcdn}quote-background-3.gif);
	border-color: #efe;
	border-{template_textalignment}-color: #cfc;
}
.quotereply .quotereply .quotereply .quotereply {
	background-image: url({imgcdn}quote-background-4.gif);
	border-color: #fee;
	border-{template_textalignment}-color: #fcc;
}
.topic-reply-indent3 {
	margin-{template_textalignment}: 20px;
}
.quotereply {
	background-image: url({imgcdn}quote-background-1.gif);
	border: 1px #eee solid;
	border-{template_textalignment}: 3px #ccc solid;
	background-color: #fff;
	background-repeat: repeat;
	margin-top:10px;
	margin-bottom:0;
	margin-{template_textalignment}:0;
	margni-{template_textalignment_alt}:15px;
	padding: 10px;
}
* html .quotereply {
	height: 1%;
}
.quotereply .quotereply {
	background-image: url({imgcdn}quote-background-2.gif);
	border-color: #eef;
	border-{template_textalignment}-color: #ccf;
}