.header-container-slim {
	z-index:4001;
	position: relative;
}
/* 2.1 Top-bar */
.top-bar-slim-black {
	background: #000000;
	border-bottom: 0px solid #dbdbdb;
	width:100%;
	height:20px;
	text-align:{template_textalignment_alt};
	color:#222;
	line-height:30px;

}

.top-bar-slim {
	background: #fafafa;
	border-bottom: 1px solid #dbdbdb;
	width:100%;
	height:35px;
	text-align:{template_textalignment_alt};
	color:#222;
	line-height:30px;
	padding: 12px 0; /*3px 0*/
}
.top-bar-slim a img {
	max-height:24px;
}
.top-bar-slim a {
	display:inline-block;
	padding:0 4px;
	color:#ccc;
	text-decoration:none;
}
.slim-login {
	text-align:{template_textalignment}
}
.slim-login a {
	padding:0;
}
.top-bar-slim a:hover {
	text-decoration:none;
}
/* 2.2 Header */
.header {
	border-top:2px solid #FDB819;
	border-bottom:2px solid #FDB819;
	background: #ffffff;
	width:100%;
	height:129px
}
.header .box-fluid {
	position:relative;
	z-index:10;
}
.header .arrow-bot {
	background:url({imgcdn}v5/ico_arrow_header_top.png) no-repeat {template_textalignment} top;
	background-color: #fafafa;
	width:45px;
	height:17px;
	position:absolute;
	{template_textalignment_alt}:0;
	bottom:-18px;
	z-index:2;
	border:1px solid #dbdbdb;
	border-top:none;
	box-shadow: 0 2px 3px -1px rgba(186, 186, 186, 0.7);
}
.header .arrow-bot a {
	display:block;
}
.header .arrow-bot a.arrow-link {
	text-indent:-9999px;
}
@media only screen and (min-width : 150px) and (max-width : 500px)
{
	.arrow-bot {
		display:none;
	}
}
#mobilemenu
{
	display:none;
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	#mobilemenu {
		display:inline;
	}
}
@media only screen and (min-width : 150px) and (max-width : {box}px) {
	.product-list4 .txtb {
		width:100%;
		margin-top:15px;
	}
}
.product-list {
	display:none;
	border:#dedede 1px solid;
	border-top:1px solid #fff;
	background:#fff;
	width:465px;
	float:{template_textalignment};
	margin:0;
	position:absolute;
	{template_textalignment_alt}:0;
	top:0px;
	z-index:99;
	overflow:none;
}
.product-list .row {
	width:100%;
	float:{template_textalignment};
	height:39px;
	line-height:39px;
}
.product-list .row strong {
	display:block;
	padding-{template_textalignment}:15px;
	font-size:13px;
	color:#333
}
.product-list a.close {
	background:url({imgcdn}v5/ico_close.png) no-repeat {template_textalignment} top;
	width:15px;
	height:14px;
	display:block;
	float:{template_textalignment_alt};
	text-indent:-9999px;
}
.product-list .close:hover {
	background-position:{template_textalignment} bottom;
}
.product-list-in {
	border-top:#d6d6d6 1px dotted;
	border-bottom:#d6d6d6 1px dotted;
	background:#f8f8f8;
	width:415px;
	height:198px;
	float:{template_textalignment};
	position:relative;
	z-index:2;
}
.product-list-in a.prev, .product-list-in a.next {
	background:url({imgcdn}v5/sprite_nav_slider.png) no-repeat;
	width:9px;
	height:20px;
	float:{template_textalignment};
	text-indent:-9999px;
	position:absolute;
	top:67px;
	z-index:5;
}
.product-list-in a.prev {
	background-position:{template_textalignment} top;
	{template_textalignment}:20px;
}
.product-list-in a.prev:hover {
	background-position:{template_textalignment} bottom;
}
.product-list-in a.next {
	background-position:{template_textalignment_alt} top;
	{template_textalignment_alt}:20px;
}
.product-list-in a.next:hover {
	background-position:{template_textalignment_alt} bottom;
}
.product-list-in a.next.disabled
{
	visibility: hidden;
}
.product-list-in a.prev.disabled
{
	visibility: hidden;
}
.product-list-in ul {
	padding-{template_textalignment}:38px;
}
.product-list-in li {
	text-transform:uppercase;
	width: 130px;
	height: 198px;
	float:{template_textalignment};
	margin-{template_textalignment}:8px;
}
.product-list-in .imgb {
	vertical-align: middle;
	padding: 1px;
	display: table-cell;
	border: 1px solid #e2e2e2;
	text-align: center;
	font-size: 1px;
	background-color:#fff;
}
.product-list-in li span a {
	text-transform: uppercase;
	height: 35px;
	display: block;
	overflow: hidden;
	line-height: 17px;
	text-decoration: none;
}
.product-list-in li span a:hover {
	color:#FDB819;
}
.product-list-in li strong {
	display: block;
	padding-top: 8px;
	font-size: 13px;
}
.product-list-in li a {
	padding-top:5px;
	font-size:11px;
	color:#000000;
	display:block;
	font-family: Arial,Helvetica,Geneva,sans-serif;
}
.product-list-in li img {
	border: 0 solid;
}
.product-list-in li .timeleft {
	display:block;
	padding-top:4px;
	text-transform:none;
	font-size: 10px;
	color: #777;
}
.product-list .row2 {
	width:100%;
	height:40px;
	float:{template_textalignment};
}
.product-list .row2 ul {
	float:{template_textalignment_alt};
	padding:12px 0 0 0;
}
.product-list .row2 li {
	border-{template_textalignment}:#d5d5d5 1px dotted;
	float:{template_textalignment};
	height:15px;
	font-size:11px;
	line-height:15px;
	padding-top:0;
	padding-{template_textalignment_alt}:11px;
	padding-bottom:0;
	padding-{template_textalignment}:9px;
	padding:0 11px 0 9px;
}
.product-list .row2 li:first-child {
	border-{template_textalignment}:none;
}
.product-list .row2 li a{
	color:#c5c5c5;
}
.product-list .row2 li a:hover, .product-list .row2 li.active a {
	color:#333;
}
.product-list a.arrow-bot2 {
	background:#fff url({imgcdn}v5/ico_arrow_header_bot.png) no-repeat {template_textalignment} top;
	border:1px solid #dedede;
	border-top:none;
	width:48px;
	height:22px;
	float:{template_textalignment};
	position:absolute;
	{template_textalignment_alt}:-1px;
	bottom:-23px;
	z-index:2;
	text-indent:-9999px;
}
/* header-top */
.header-top {
	width:100%;
	height:79px;
}
.border-top-black {
	border-top:17px solid #000000;
}
.top-nav-left
{
	float: {template_textalignment};
	display: inline-block;
	height: 39px;
	position: relative;
}
.top-nav-right
{
	
	float: {template_textalignment_alt};
	display: inline-block;
	height: 39px;
	padding-top: 11px;
	position: relative;
}
.top-nav-fill
{
	width: auto;
	height: 39px;
}
/* 2.2.1 Logo */
#logo {
	padding-top: 6px;
	padding-{template_textalignment_alt}:0;
	padding-bottom:0;
	padding-{template_textalignment}:27px
}
.logo {
	float:{template_textalignment};
	margin-top:5px;
	margin-left:-20px;
	position: relative;
	line-height: 0;
	width: 125px!important;
	height: 50px!important;
}

.logo a img{
    max-width: 150%;
    height: auto;
}

@media only screen and (min-width : 150px) and (max-width : 500px) {
	.logo {
		width: 25px!important;
		height: 10px!important;
		padding-{template_textalignment_alt}:0;
		padding-bottom:0;
		padding-{template_textalignment}:10px
	}
	.logo a img{
		max-width: 150%;
		height: auto;
	}
}
/* 2.2.2 Top-link */
.top-link {
	float:{template_textalignment_alt};
	font-size:12px;
	color:#333;
	font-weight:normal;
}
.top-link .dropdown-menu li {
	float:none;
	margin-top:0;
	margin-bottom:0;
	margin-{template_textalignment}:0px;
	margin-{template_textalignment_alt}:0px;
	position:static
}
.top-link li {
	float:{template_textalignment};
	margin-top:0;
	margin-bottom:0;
	margin-{template_textalignment}:20px;
	margin-{template_textalignment_alt}:7px;
	position:relative;
	z-index:5;
}

@media only screen and (min-width : 150px) and (max-width : {box}px) {
	.bot-nav-right .top-link li {
		margin-{template_textalignment}:10px;
	}
}
.top-link li a {
	display:block;
	color:#333;
	line-height:16px;
}
.top-link li a:hover {
	color:#FDB819;
	text-decoration: none;
}
.top-link .dropdown-menu a.arrow {
	background-image: url(data:image/gif;base64,R0lGODlhBwAKAMIEAObm5uvr6/Dw8P39/f///////////////yH5BAEKAAcALAAAAAAHAAoAAAMWSDPUGoE5AaIj1M4qMW+ZFDYD1ClnAgA7);
	background-position: {template_textalignment_alt} 6px;
	background-repeat: no-repeat;
	margin-{template_textalignment_alt}:9px
}
.top-link .dropdown-menu a.arrow:hover, .top-link .dropdown-menu a.arrow.maintain-hover {
	background-image: url(data:image/gif;base64,R0lGODlhBwAKAMIEAICAgJmZmbOzs/f39////////////////yH5BAEKAAcALAAAAAAHAAoAAAMWSDPUGoE5AaIj1M4qMW+ZFDYD1ClnAgA7);
	color:#FDB819;
}
.top-link .dropdown-toggle {
	text-decoration:none
}
.top-link ul.dropdown-menu {
	min-height:541px
}
.top-link .dropdown-menu li a:hover {
	background-image: none;
	color:#FDB819;
}
.top-link .dropdown-menu .popover.first {
	width:499px;
}
.top-link .dropdown-menu .nav-divider {
	position: relative;
	display: block;
	line-height: 1px;
	height: 1px;
	overflow-y: hidden;
	overflow-x: hidden;
	background-image: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(238, 238, 238);
	background-size: initial;
	margin-top: 9px;
	margin-right: 0px;
	margin-bottom: 9px;
	margin-left: 0px;
	width:90%
}
.nav-column {
	float: {template_textalignment};
	clear: none
}
.nav-column-notfirst {
	margin-{template_textalignment}: -12px
}
.nav-item {
	{template_textalignment}: 5px;
	width: 220px
}
.nav-item {
	position: relative;
	display: block;
	clear: both;
	font-family: arial, sans-serif;
	line-height: 16px;
	padding: 0 0 5px;
	margin: 0;
	text-decoration: none;
	cursor: default;
}
.nav-title {
	padding-bottom: 10px;
	{template_textalignment}: 5px
}
.nav-text {
	font-size: 18px;
	line-height: 19px;
	color: #FDB819
}
.nav-text {
	display: block;
	font-size: 13px;
	color: #444;
	font-weight: 400;
	white-space: normal;
	word-wrap: break-word
}
.nav-title .nav-text a {
	font-weight:normal
}
.nav-subtext {
	display: block;
	font-size: 11px;
	line-height: 13px;
	font-weight: 400;
	color: #999;
	white-space: normal
}
.nav-title .nav-text {
	font-size: 17px;
	line-height: 19px;
	color: #FDB819
}
.nav-panel {
	width: 20px;
	margin-{template_textalignment_alt}: 21px
}
.nav-panel .nav-link {
	{template_textalignment}: 5px;
	cursor: pointer
}

.top-link li a span {
	background:url({imgcdn}v5/sprite_nav_top_link.png) no-repeat {template_textalignment_alt} top;
	display:inline-block;
	padding-{template_textalignment_alt}:15px
}
.top-link li .nav-panel a span {
	background:none;
	display:block;
	padding-{template_textalignment_alt}:0px
}
.top-link li .nav-panel a.nav-link:hover .nav-text {
	text-decoration:none;
	color:#FDB819
}
.top-link li:hover .nav-panel a.nav-link .nav-subtext {
	text-decoration:none
}
.top-link .nav-promo {
	position: absolute;
	bottom: -15px;
	{template_textalignment_alt}: 0;
	border: none;
	margin-{template_textalignment_alt}: 0;
	max-width: none;
	margin-bottom: 14px
}
.top-link img.nav-promo {
	bottom:-22px;
	{template_textalignment_alt}:-1px;
	width:519px;
	height:540px;
}
.top-link li.lang-hover a span {
	background:url({imgcdn}v5/sprite_nav_top_link.png) no-repeat {template_textalignment_alt} top;
	display:inline-block;
	padding-{template_textalignment_alt}:15px
}
.top-link li.lang-hover:hover a span {
	background:url({imgcdn}v5/sprite_nav_top_link.png) no-repeat {template_textalignment_alt} bottom 2px;
	display:inline-block;
	padding-{template_textalignment_alt}:15px
}
.top-link li a span#cart-count.cart-count {
	background:none;
	display:inline-block;
	padding-{template_textalignment}:20px;
	padding-{template_textalignment_alt}:13px
}
.top-link li:hover a span {
	background-position:{template_textalignment_alt} bottom -2px;
}
.top-link ul.cart-list a span {
	background:none;
}
.top-link li a.login {
	background:url({imgcdn}v5/ico_man.png) no-repeat top {template_textalignment};
	padding-{template_textalignment}:27px;
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.top-link li a.login {
		background:none;
		padding-{template_textalignment}:0;
	}
}
.top-link li:hover a.login {
	background:url({imgcdn}v5/ico_man.png) no-repeat top {template_textalignment};
	padding-{template_textalignment}:27px
}
.top-link li a.favorite {
	background:url({imgcdn}v5/ico_star.png) no-repeat {template_textalignment} center;
	padding-{template_textalignment}:25px
}
.top-link li a.mycp {
	background:url({imgcdn}v5/ico_man.png) no-repeat {template_textalignment} center;
	padding-{template_textalignment}:25px
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.top-link li a.mycp {
		background:none;
		padding-{template_textalignment}:0
	}
}
.top-link li a.shoppingcart {
	background:url({imgcdn}v5/ico_cart_widget{template_textalignment_r}.png) no-repeat {template_textalignment} center;
	height:24px;
	padding-{template_textalignment}:45px
}
.cart-count {
	{template_textalignment}: -7px;
	top: -2px;
	font-size: 15px;
	width: 19px;
	font-weight: 700;
	font-family: arial,sans-serif;
	position: absolute;
	line-height: 16px;
	text-align: center
}
.top-link li a.cms {
	background:url({imgcdn}v5/ico_shield.png) no-repeat {template_textalignment} center;
	padding-{template_textalignment}:25px
}
.top-link li a.sell {
	background:url({imgcdn}v5/ico_coins.png) no-repeat {template_textalignment} center;
	padding-{template_textalignment}:25px
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.top-link li a.sell
	{
		background:none;
		padding-{template_textalignment}:0
	}
}
.top-link li a.buy {
	background:url({imgcdn}v5/ico_buy.png) no-repeat {template_textalignment} center;
	padding-{template_textalignment}:25px
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.top-link li a.buy
	{
		background:none;
		padding-{template_textalignment}:0
	}
}
.top-link li a.stores {
	background:url({imgcdn}v5/ico_addcart.png) no-repeat {template_textalignment} center;
	padding-{template_textalignment}:25px;
}
.top-link li a.admin {
	background:url({imguploadscdn}meta/favicon.png) no-repeat {template_textalignment} center;
	padding-{template_textalignment}:25px;
	background-size:16px 16px;
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.top-link li a.stores, .top-link li a.admin
	{
		background:none;
		padding-{template_textalignment}:0
	}
}
.top-link li a.facebook {
	background:url({imgcdn}v5/signin_facebook_small.png) no-repeat {template_textalignment} center;
	padding-{template_textalignment}:25px;
	color:#3e5c97
}
.top-link li.lang-hover:hover .top-dropdown, .top-link li.login-hover:hover .top-dropdown, .top-link li.cart-hover:hover .top-dropdown, .top-link li.sell-hover:hover .top-dropdown, .top-link li.buy-hover:hover .top-dropdown, .top-link li.stores-hover:hover .top-dropdown, .top-link li.cms-hover:hover .top-dropdown {
	visibility:visible;
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.cms-hover, .sell-hover, .buy-hover, .stores-hover, .admin-hover, .order-hover {
		display:none
	}
}
.top-link .cart-hover {
	{template_textalignment_alt}:-5px;
	position: absolute;
	margin-top:-45px;
	z-index: 102
}
.box-fluid .search-box {
	/*width:100%*/
}
.box-fluid .top-link .cart-hover {
	{template_textalignment_alt}:395px;
}
@media only screen and (min-width : 150px) and (max-width : {box}px) {
	#top-nav-right-ad {
	        display:none
	}
}
.top-link .top-dropdown {
	background:#fff;
	border:1px solid #bbb;
	width:215px;
	float:{template_textalignment};
	padding-top:3px;
	position:absolute;
	{template_textalignment_alt}:0;
	top:100%;
	z-index:999;
	border-radius:3px;
	visibility:hidden;
}
.top-link .cart-hover .top-dropdown {
	background:#fff;
	border:1px solid #bbb;
	float:{template_textalignment};
	padding-top:3px;
	margin-top:-35px;
	position:absolute;
	{template_textalignment_alt}:0;
	top:100%;
	z-index:-1;
	visibility:hidden;
	border-radius:3px;
	transition: 0.2s 0.4s
}
.top-link .gap {
	width:268px;
}
.top-link .gap2 {
	width:322px;
}
#shopping-cart-list {
	width:350px;
}
.top-link .top-dropdown p {
	padding-top:10px;
	padding-bottom:0;
	padding-{template_textalignment}:0;
	padding-{template_textalignment_alt}:15px;
	font-size:12px;
	font-weight:normal;
	color:#333;
	line-height:17px;
}
.top-link .top-dropdown ul.cart-list, ul.cart-list  {
	padding:5px 0 13px 0;
	max-height: 265px;
	overflow: hidden;
	overflow-y: scroll;
}
ul.cart-list::-webkit-scrollbar{height:16px;overflow:visible;width:8px}
ul.cart-list::-webkit-scrollbar-button{height:0;width:0}
ul.cart-list::-webkit-scrollbar-track{background-clip:padding-box;box-shadow:inset 1px 0 0 #e6e6e6}
ul.cart-list::-webkit-scrollbar-track:hover{background-color:#f3f3f3;box-shadow:inset 1px 0 0 #e6e6e6}
ul.cart-list::-webkit-scrollbar-track:active{background-color:#f3f3f3;box-shadow:inset 1px 0 0 #dcdcdc,inset -1px 0 0 #eeeeee}
ul.cart-list::-webkit-scrollbar-thumb{background-color:#cccccc;background-clip:padding-box;border:solid transparent;border-width:1px 1px 1px 0px;min-height:28px;padding:100px 0 0;box-shadow:inset 1px 1px 0 #e6e6e6,inset 0 -1px 0 #eeeeee}
ul.cart-list::-webkit-scrollbar-thumb:hover{background-color:#999999;box-shadow:inset 1px 1px 1px #c0c0c0}
ul.cart-list::-webkit-scrollbar-thumb:active{background-color:#808080;box-shadow:inset 1px 1px 3px #a6a6a6}

.top-link .top-dropdown .cart-list li, .cart-list li {
	padding:15px 15px 13px 15px;
	position: relative
}
.top-link .top-dropdown .cart-list li.blueborder, .cart-list li.blueborder {
	padding:15px 15px 13px 15px;
	position: relative;
	background: rgba(217, 234, 255, 0.3);
	border:none;
}
.top-link .top-dropdown .cart-list li a, .cart-list li a {
	display: table;
	width: 100%;
	white-space: nowrap;
	background:none;
	padding:0;
	line-height:1.4;
}
.top-link .top-dropdown .cart-list .product-name, .cart-list .product-name {
	white-space: normal;
	background: none;
	padding:0;
	margin-{template_textalignment}:15px;
}
.top-link .top-dropdown .cart-list .product-name span, .cart-list .product-name span {
	padding:0;
	background: none;
	width:145px;
}
.top-link .top-dropdown .cart-list .product-name span.pname, .cart-list .product-name span.pname {
	color:#000000;
	font-size:12px;
	line-height:1.4;
	max-height: 44px;
	overflow: hidden;
	margin-{template_textalignment_alt}:7px;
}
.top-link .top-dropdown .cart-list li a:hover span.pname, .cart-list li a:hover span.pname {
	color: #F89400 !important;
}
.top-link .top-dropdown .cart-list .product-image, .cart-list .product-image {
	width: 62px;
	height: 62px;
	border: 1px solid #d0d0d0;
	padding: 0;
	background: white;
	display: table-cell !important;
	text-align: center;
	vertical-align: middle
}
.top-link .top-dropdown .cart-list .product-image img, .cart-list .product-image img {
	vertical-align: middle;
	max-width:62px;
	max-height:62px
}
.top-link .top-dropdown .cart-list .pprice, .cart-list .pprice {
	position: absolute;
	/*color: #999;*/
	text-align:{template_textalignment_alt};
	line-height: 1.4;
	/*font-size: 10px;*/
	background:none;
	padding:0;
}
.top-link .top-dropdown .cart-list .pprice strong, .cart-list .pprice strong {
	color: #444;
	font-size: 10px;
	font-weight: 700;
	display: block;
	padding-bottom: 5px;
}

.top-link .top-dropdown ul {
	padding:10px 15px 13px 15px;
}
.top-link .top-dropdown li {
	float:none;
	padding:0;
	margin:0;
	font-weight:normal;
}
.top-link .top-dropdown li a {
	background:url({imgcdn}v5/arrow1{template_textalignment_r}.png) no-repeat {template_textalignment} -16px;
	padding-top:0;
	padding-bottom:0;
	padding-{template_textalignment}:11px;
	padding-{template_textalignment_alt}:0;
	line-height:22px;
}
.top-link li a:hover {
	text-decoration:none;
}
.top-link li span a:hover, .top-link li.login-hover a:hover {
	text-decoration:none;
}
.top-link .top-dropdown li:hover a {
	background-position:{template_textalignment} 2px;
}
.top-link .top-dropdown li.divider {
	border-bottom:1px dotted #ddd;
	padding-bottom:10px;
	margin-bottom:9px;
}
.top-link .user-login {
	border-bottom:1px dotted #d5d5d5;
	background:#fff;
	line-height: 17px;
	font-size:12px;
	color:#545454;
}
.top-link .user-login .new-user {
	font-weight:normal;
	color:#777;
	display:inline-table
}
.top-link .user-login a.login-link {
	font-size:13px;
	color:#fff;
	font-weight:bold;
}
.top-link .user-login a.login-link:hover {
	color:#fff;
}
.top-link a.login-link {
	background:url({imgcdn}v5/bg_org_button1.png) repeat-x {template_textalignment} top;
	border:1px solid #c2790a;
	width:180px;
	height:26px;
	float:{template_textalignment};
	padding:0;
	margin-bottom:8px;
	text-align:center;
	font-size:13px;
	color:#fff;
	font-weight:bold;
	line-height:26px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position:relative;
	text-decoration:none;
}
.top-link a.login-link:hover {
	background-position:{template_textalignment} bottom;
	color:#fff;
}
.top-link .user-login a {
	display:inline-block;
	padding-{template_textalignment}:3px;
	font-weight:normal;
	color:#000000;
}
.top-link .user-login a:hover {
	color:#FDB819;
}
.top-link .user-login p.gray
{
	color:#777;
	margin-bottom:5px;
}
.top-link li.favorite-hover:hover .top-dropdown2 {
	visibility:visible;
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.favorite-hover {
		display:none
	}
}
.top-link .top-dropdown2 {
	background:#fff;
	border:1px solid #bbb;
	width:322px;
	float:{template_textalignment};
	padding-top:3px;
	position:absolute;
	{template_textalignment_alt}:0;
	top:100%;
	z-index:999;
	visibility:hidden;
	border-radius:3px;
	font-weight:normal;
}
.top-link .top-dropdown2 h4 {
	border-top:1px solid #e5e5e5;
	background:#fafafa;
	width:100%;
	height:40px;
	float:{template_textalignment};
	font-size:13px;
	color:#333;
	font-weight:bold;
	line-height:40px;
}
.top-link .top-dropdown2 h4 span a {
	color:#999;
}
.top-link .top-dropdown2 h4 span a:hover {
	color:#999;
	text-decoration: none;
}
.top-link .top-dropdown2 h4 a {
	display:block;
	padding-{template_textalignment}:15px;
	color:#333;
	line-height:40px;
}
.top-link .top-dropdown2 h4 a:hover {
	text-decoration: none;
}
.top-link .top-dropdown2 .tab-cont {
	background:#f8f8f8;
	width:100%;
}
.top-link .top-dropdown2 .txtb {
	border-top:1px solid #e5e5e5;
	width:286px;
	float:{template_textalignment};
	padding:15px 20px 15px 16px;
	font-size:12px;
	color:#444;
}
.top-link .top-dropdown2 .nopadding {
	padding:0;
	width:322px;
}
.top-link .top-dropdown2 .txtb p {
	line-height:18px;
	padding-bottom:10px;
}
.top-link .top-dropdown2 .txtb span {
	display:block;
	font-size:10px;
}
.top-link .top-dropdown2 .txtb span a {
	display:inline-block;
	color:#FDB819;
}
.top-link .top-dropdown2 .txtb span a:hover {
	text-decoration: none;
}
.top-link .top-dropdown2 .blueonly span {
	display:block;
	font-size:11px;
	color:#000000;
}
.top-link .top-dropdown2 .blueonly span a {
	display:inline-block;
	color:#000000;
}
.top-link .top-dropdown2 .blueonly span a:hover {
	text-decoration: none;
}
.top-link .badge {
	display: block;
	position: absolute;
	top: 11px;
	{template_textalignment_alt}: 5px;
	line-height: 16px;
	height: 16px;
	padding-top:0;
	padding-bottom:0;
	padding-{template_textalignment}:0;
	padding-{template_textalignment_alt}:5px;
	font-family: Arial, sans-serif;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.25);
	border: 1px solid;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}
.top-link .login-hover .badge {
	display: block;
	position: absolute;
	top: 2px;
	{template_textalignment_alt}: 5px;
	line-height: 16px;
	height: 16px;
	padding-top:0;
	padding-bottom:0;
	padding-{template_textalignment}:0;
	padding-{template_textalignment_alt}:5px;
	font-family: Arial, sans-serif;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.25);
	border: 1px solid;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
}
.top-link .badge.blue {
	background: #67c1ef;
	border-color: #30aae9;
	background-image: -webkit-linear-gradient(top, #acddf6, #67c1ef);
	background-image: -moz-linear-gradient(top, #acddf6, #67c1ef);
	background-image: -o-linear-gradient(top, #acddf6, #67c1ef);
	background-image: linear-gradient(to bottom, #acddf6, #67c1ef);
}
.top-link .badge.green {
	background: #77cc51;
	border-color: #59ad33;
	background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
	background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
	background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
	background-image: linear-gradient(to bottom, #a5dd8c, #77cc51);
}
.top-link .badge.yellow {
	background: #faba3e;
	border-color: #f4a306;
	background-image: -webkit-linear-gradient(top, #fcd589, #faba3e);
	background-image: -moz-linear-gradient(top, #fcd589, #faba3e);
	background-image: -o-linear-gradient(top, #fcd589, #faba3e);
	background-image: linear-gradient(to bottom, #fcd589, #faba3e);
}
.top-link .badge.red {
	background: #fa623f;
	border-color: #fa5a35;
	background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
	background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
	background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
	background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
}
.top-link .cart-hover-stores {
	{template_textalignment_alt}:auto;
	margin-top:7px
}
.top-link .order-hover {
	padding-top:16px
}
.header-bot {
	width:100%;
	height:50px;
}
@media only screen and (min-width : 150px) and (max-width : 500px)
{
	.header-bot {
		height:0;
	}
}
.bot-nav-left
{
	float: {template_textalignment};
	display: inline-block;
	height: 39px;
	position: relative;
}
.bot-nav-right
{
	float: {template_textalignment_alt};
	display: inline-block;
	height: 39px;
	position: relative;
}
.bot-nav-fill
{
	width: auto;
	height: 39px;
	white-space: nowrap;
}
.bot-nav-fill #background-links {
	overflow-y: hidden;
	overflow-x: hidden;
}
.bot-nav-left #global-location {
	float: {template_textalignment};
	text-decoration: none;
	width: 192px;
	overflow: hidden
}
@media only screen and (min-width : 150px) and (max-width : {box}px)
{
	.bot-nav-left #global-location {
		width:0px
	}
}
#hpa3 {
	float: {template_textalignment};
	width: 245px;
	height: 400px;
	position: relative;
	{template_textalignment}: -244px;
	top: -95px;
}
.search {
	height:39px;
	float:none;
	margin-{template_textalignment_alt}: 60px;
	padding-top:11px;
	padding-{template_textalignment}: 192px;
	padding-{template_textalignment_alt}: 400px;
}
@media only screen and (min-width : 150px) and (max-width : {box}px) {
	.box-fluid .search {
		float:none;
		padding-{template_textalignment}: 191px;
		padding-{template_textalignment_alt}:0px
	}
	.box-fluid .top-link .cart-hover {
		{template_textalignment_alt}: -5px;
	}
	.stores-home.search {
		float:none;
		padding-{template_textalignment}: 0px
	}
	.box-fluid .search-box {
		width:100%
	}
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.box-fluid .search {
		float:none;
		padding-{template_textalignment}: 70px
	}
}
.search label {
	width:48px;
	float:{template_textalignment};
	font-size:13px;
	color:#333;
	font-weight:bold;
	line-height:30px
}
.search-box {
	border:1px solid #cfcfcf;
	background:#fff;
	width:100%;
	height:35px;
	position:relative;
	float:{template_textalignment};
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	z-index: 99;
}
@media only screen and (min-width : 150px) and (max-width : {box}px) {
	.search-box {
		width:100%
	}
	.setting-box .setting-form .draw-select__wrapper.w-250 {
		max-width:250px
	}
}

.search-menu {
	border:1px solid #fff;
	background:#f5f5f5 url({imgcdn}v5/bg_search_menu.png) repeat-y {template_textalignment_alt} top;
	height:33px;
	float:{template_textalignment};
	text-align:center;
	font-size:12px;
	color:#333;
	line-height:33px;
	z-index:5;

}
.search-menu a {
	color:#333;
	line-height:26px;
}
.search-menu a span {
	background:url({imgcdn}v5/sprite_arrow1.png) no-repeat {template_textalignment_alt} top;
	display:inline-block;
	padding-{template_textalignment_alt}:15px;
	color:#333;
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.search-menu {
		max-width:25px;
		overflow: hidden
	}
	.search-menu a span {
		display: inherit;
		background:none;
	}
}
.search-menu.active a span, .search-menu.active:hover a span {
	background-position:{template_textalignment_alt} bottom;
	color:#fff;
}
.search-menu:hover {
	background:#eee url({imgcdn}v5/bg_search_menu.png) repeat-y {template_textalignment_alt} top;
}
.search-menu:hover a span{
	color:#333;
	background-position:{template_textalignment_alt} top;
}
.search-menu.active {
	border:1px solid #000;
	background:#000;
	height:34px;
}
.search-menu-list {
	display:none;
	background:#fff;
	background-color:#fff;
	border:1px solid #ccc;
	border-top:3px solid #333;
	width:231px;
	float:{template_textalignment};
	position:absolute;
	top:34px;
	z-index:100;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.search-menu-list {
		width:100%;
	}
}
.search-menu-list ul {
	width:231px;
	height:273px;
	float:{template_textalignment};
	margin-bottom:15px;
	overflow-y:scroll;
	text-align:{template_textalignment};
	font-size:13px;
}
@media only screen and (min-width : 150px) and (max-width : {box}px) {
	.search-menu-list ul {
		width:100%
	}
}
.search-menu-list li {
	line-height:1.9;
}
@media only screen and (min-width : 150px) and (max-width : {box}px) {
	.search-menu-list li {
		display:block
	}
}
.search-menu-list li a {
	display:block;
	color:#444;
}
@media only screen and (min-width : 150px) and (max-width : {box}px) {
	.search-menu-list ul li a {
		font-size:110%;
		line-height: 30px
	}
}
.search-menu-list li a:hover, .search-menu-list li.active a {
	color:#FDB819;
}
.search-menu-list .user-link {
	border-top:1px dotted #d5d5d5;
	background:#f8f8f8;
	display:block;
	height:45px;
	clear:both;
	margin:0 -10px 0 -15px;
	text-align:{template_textalignment};
	font-size:13px;
	color:#333;
	font-weight:bold;
}
.search-menu-list .user-link a {
	display:block;
	padding-{template_textalignment}:15px;
	color:#333;
	line-height:45px;
}
.search-menu-list .user-link a:hover {
	color:#FDB819;
}
.search-menu-separator {
	border-bottom: 1px dotted #ddd;
	margin-bottom: 11px;
	padding-bottom: 10px !important;
	width: 200px;
}
.nounderline
{
	text-decoration: none;
}
.search-box .input-field {
	overflow:hidden;
	display:block
}
.search .input {
	background:none;
	width:100%;
	border:none;
	height:28px;
	vertical-align:middle;
	font-size:14px;
	color:#000
}
.search .button-left {
	background:url({imgcdn}v5/ico_search.png) no-repeat center;
	border:none;
	width:50px !important;
	height:35px;
	float:{template_textalignment_alt};
	background-color: #ebebeb;
	cursor:pointer;
}
.search .button-left:hover {
	background-color: #e1e1e1;
}
.search .button-right {
	background:url({imgcdn}v5/ico_search_r.png) no-repeat center;
	border:none;
	width:50px !important;
	height:35px;
	float:{template_textalignment_alt};
	background-color: #ebebeb;
	cursor:pointer;
}
.search .button-right {
	background-color: #e1e1e1;
}
.setting-box {
	width:34px;
	float:{template_textalignment_alt};
	position:relative;
	z-index:1;
}
#top-dynamic .setting-box {
	padding-{template_textalignment_alt}: 55px
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.setting-box {
		display:none;
	}
}
.setting-box a.setting-left {
	background:url({imgcdn}v5/bg_setting.png) no-repeat {template_textalignment} top;
	width:28px;
	height:15px;
	float:{template_textalignment};
	margin:10px 0 0 0;
	display:inline-block;
	text-indent:-9999px;
}
.setting-box a.setting-left:hover, .setting-box a.setting-left.active {
	background-position:{template_textalignment} bottom;
}
.setting-box a.displaysetting.setting-left {
	background:url({imgcdn}v5/bg_displaysetting.png) no-repeat {template_textalignment} top;
	width:28px;
	height:15px;
	float:{template_textalignment};
	margin:7px 0 0 0;
	display:inline-block;
	text-indent:-9999px;
	z-index:1
}
.setting-box a.displaysetting.setting-left:hover, .setting-box a.displaysetting.setting-left.active {
	background-position:{template_textalignment} bottom;
}
.setting-box a.setting-right {
	background:url({imgcdn}v5/bg_setting_r.png) no-repeat {template_textalignment_alt} top;
	width:28px;
	height:15px;
	float:{template_textalignment_alt};
	margin:10px 0 0 0;
	display:inline-block;
	text-indent:-9999px;
}
.setting-box a.setting-right:hover, .setting-box a.setting-right.active {
	background-position:{template_textalignment_alt} bottom;
}
/* 2.2.4.2 Setting-panel */
.top-nav-link-divider {
	display: inline-block;
	position: absolute;
	border-right: 1px solid #ddd;
	width: 1px;
	height: 39px;
}
.setting-panel {
	display:none;
	border:1px solid #bbb;
	border-top:1px solid #fff;
	background:#fff;
	width:406px;
	float:{template_textalignment};
	position:absolute;
	{template_textalignment_alt}:-1px;
	top:28px;
	z-index:99;
}
.setting-box #search-setting-panel.setting-panel {
	top:35px;
}
#display-setting-panel {
	z-index:-1;
	top:0px;
}
.setting-panel .title {
	border-bottom:1px dotted #d0d0d0;
	background:#fff;
	width:100%;
	height:48px;
	float:{template_textalignment};
}
#display-setting-panel.setting-panel .title {
	height:38px;
	background:#fff;
}
.setting-panel .title h3 {
	padding-{template_textalignment}:15px;
	font-size:12px;
	color:#333;
	line-height:47px;
}
#display-setting-panel.setting-panel .title h3 {
	line-height:39px;
}
.setting-panel .title span {
	display:inline-block;
	float:{template_textalignment_alt};
	padding-{template_textalignment_alt}:15px;
	line-height:39px;
}
.setting-panel .title a {
	color:#000000;
	text-decoration:none;
	font-size:11px;
}
.setting-panel .title a:hover {
	text-decoration:none;
	color:#FDB819;
}
.setting-form {
	width:406px;
	float:{template_textalignment};
	padding:15px 0;
}
.setting-form .row {
	width:100%;
	float:{template_textalignment};
	margin-bottom:14px;
}
.setting-form .row.checkbox-expand {
	max-height:110px;
	overflow:hidden;
	overflow-y:scroll;
}
.setting-form .row.checkbox-expand::-webkit-scrollbar{height:16px;overflow:visible;width:8px}
.setting-form .row.checkbox-expand::-webkit-scrollbar-button{height:0;width:0}
.setting-form .row.checkbox-expand::-webkit-scrollbar-track{background-clip:padding-box;box-shadow:inset 1px 0 0 #e6e6e6}
.setting-form .row.checkbox-expand::-webkit-scrollbar-track:hover{background-color:#f3f3f3;box-shadow:inset 1px 0 0 #e6e6e6}
.setting-form .row.checkbox-expand::-webkit-scrollbar-track:active{background-color:#f3f3f3;box-shadow:inset 1px 0 0 #dcdcdc,inset -1px 0 0 #eeeeee}
.setting-form .row.checkbox-expand::-webkit-scrollbar-thumb{background-color:#cccccc;background-clip:padding-box;border:solid transparent;border-width:1px 1px 1px 0px;min-height:28px;padding:100px 0 0;box-shadow:inset 1px 1px 0 #e6e6e6,inset 0 -1px 0 #eeeeee}
.setting-form .row.checkbox-expand::-webkit-scrollbar-thumb:hover{background-color:#999999;box-shadow:inset 1px 1px 1px #c0c0c0}
.setting-form .row.checkbox-expand::-webkit-scrollbar-thumb:active{background-color:#808080;box-shadow:inset 1px 1px 3px #a6a6a6}
.setting-form .row.last {
	margin:10px 0 0 0;
}
.storenav .setting-form .row.last {
	margin:10px 0 20px 0;
}
.setting-form label {
	width:102px;
	float:{template_textalignment};
	margin-{template_textalignment_alt}:10px;
	text-align:{template_textalignment_alt};
	color:#444;
	line-height:24px;
	font-weight:normal;
}
.setting-form label.first {
	width:auto;
}
.setting-form label.first:focus {
	font-weight:bold;
}
.setting-form .checkbox {
	float:{template_textalignment};
	padding:0;
}
.setting-form ul.radio-list li {
	float:{template_textalignment};
	margin-{template_textalignment_alt}:15px;
	line-height:24px;
}
.setting-form ul.checkbox-list {
	clear:both;
	padding-{template_textalignment}:113px;
}
.setting-form ul.checkbox-list li {
	font-size:12px;
	color:#333;
	line-height:18px;
}
.setting-form ul.checkbox-list li label {
	padding-top:8px;
	width:auto;
	line-height:normal;
}
.setting-form ul.checkbox-list.expand li label {
	width: 100%;
	text-align: {template_textalignment};
}
.setting-form ul.checkbox-list li label.disabled {
	color:#aaa;
}
.setting-form .select {
	border:1px solid #b6b6b6;
	width:261px;
	height:26px;
	float:{template_textalignment};
	padding:3px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	position:relative;
}
.setting-form .input {
	border:1px solid #b6b6b6;
	background:#fff;
	width:199px;
	height:16px;
	float:{template_textalignment};
	padding:4px 8px;
	font-size:12px;
	color:#000;
	line-height:16px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	position:relative;
}
.setting-form .button2 {
	background:#276fc2;
	border: 1px solid #276fc2;
	width:134px !important;
	height:28px;
	float:{template_textalignment};
	cursor:pointer;
	padding:0;
	font-size:13px;
	color:#fff;
	font-weight:bold;
	display:inline;
	margin-{template_textalignment}:113px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	position:relative;
}
.setting-form .button2:hover {
	background-position:{template_textalignment} bottom;
}
.slim-links {
	list-style: none;
	float: {template_textalignment_alt};
	margin-{template_textalignment}: 15px;
	padding-{template_textalignment}: 0;
	list-style: none;
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	.slim-links {
		display: none
	}
}
.slim-links:before, .slim-links:after
{
	content: " ";
	display: table;
}
.slim-links:after {
	clear: both;
}
.slim-links > li {
	float:{template_textalignment}
}
.slim-links > li > a {
	color: #333333;
	padding: 0 15px;
	line-height: 1.8;
	border-{template_textalignment}: 1px dotted #333333;
	font-size: 12px;
	text-decoration: none
}
.slim-links > li > a:active, .slim-links > li > a:hover, .slim-links > li > a:focus {
	color: #FDB819;
	text-decoration: none;
}
.top-dynamic {
	clear: both;
	padding:0;
	border-bottom: 1px solid #ccc;
	background:#fff;
	overflow: visible;
	position: relative;

	width:100%
}
#top-dynamic.top-dynamic {
	display: inline-block
}
#top-dynamic.top-dynamic.hide {
	display: none
}
#top-subnav.top-dynamic {
	position: relative;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	border-top: 1px solid #000000;
	border-bottom: 2px solid #FDB819;
	white-space: nowrap;
	height: 33px;
	background: #000000;
}
#top-subnav a {
	position: relative;
	float: {template_textalignment};
	height: 31px;
	line-height: 33px;
	color: #fff;
	font-size: 12px;
	padding: 0 11px;
}
#top-subnav a:hover {
	color: #FDB819;
	border-bottom: 2px solid #000000;
	text-decoration:none
}
#top-dynamic #verbosetext {
	padding-top:12px;
	padding-{template_textalignment}:9px;
	padding-bottom:12px;
	display:block;
	font-size:13px
}
#top-dynamic a.top-cat-link   {
	color: #000;
	text-decoration:none;
	font-weight:700
}
#top-dynamic a.top-cat-link.a_active {
	color:  #FDB819;
}
#top-dynamic a.top-cat-link:hover   {
	color:  #FDB819;
	text-decoration:none;
	font-weight:700
}
#top-dynamic #verbosetext a.top-cat-link:last-child {
	color: #FDB819;
}
#top-dynamic .sr-left-nav-full {
	float:{template_textalignment};
	margin-{template_textalignment_alt}: 2%;
	min-height: 1px;
	overflow: visible;
	width: 90%;
	height:39px
}
#top-dynamic .sr-left-nav {
	float:{template_textalignment};
	margin-{template_textalignment_alt}: 2%;
	min-height: 1px;
	overflow: visible;
	width: 50%;
	height:39px
}
@media only screen and (min-width : 150px) and (max-width : 500px) {
	#top-dynamic .sr-left-nav, #top-dynamic .sr-left-nav-full {
		width: 100%;
		min-height:39px;
		height:auto
	}
}
#top-dynamic .sr-right-nav {
	float:{template_textalignment_alt};
	min-height: 1px;
	overflow: visible;
	height:39px
}
#top-dynamic .sr-right-nav .displayorder {
	position: relative;
	float: {template_textalignment};
	padding-{template_textalignment_alt}: 14px;
	padding-top:4px;
}
#top-dynamic #savesearchlink {
	padding-top:10px;
	padding-{template_textalignment_alt}:12px;
	display:inline-block
}
.cart-delete {
	top: 7px;
	{template_textalignment}: 0;
	display: block;
	position: absolute;
	width: 68px;
	height: 14px;
	margin: 0;
	text-align: {template_textalignment_alt};
	z-index:900;
	cursor:pointer
}
/* 2.3.4 Breadcrumb */
.breadcrumb {
	width:100%;
	color:#555
}
.breadcrumbs {
	padding-top:12px;
	padding-{template_textalignment_alt}:12px;
	padding-{template_textalignment}:0px;
	padding-bottom:12px;
	font-size: 11px
}
.breadcrumbs span a {
	color:#555
}
.breadcrumbs span a:hover {
	color: #FDB819
}
.alt-text {
	height: 1px;
	width: 1px;
	position: absolute;
	top: -10000px;
	overflow-y: hidden;
	overflow-x: hidden
}
.billboard-promo {
	display: block;
	width: 100%;
	height: 100%;
	outline-width: 0px;
	outline-color: initial;
	outline-style: initial;
}
#billboard-promo {
	background-image: url({imgcdn}ax/hpa9.png);
	background-color: #daf5ff;
	text-align: {template_textalignment};
	background-position: top {template_textalignment};
	height: 55px;
	background-repeat: no-repeat;
	background-size: 1920px;
	border-bottom: 1px solid #abc0c8
}
