
:root {
    --space-unit: 1em;
    --space-xxxxs: calc(0.125*var(--space-unit));
    --space-xxxs: calc(0.25*var(--space-unit));
    --space-xxs: calc(0.375*var(--space-unit));
    --space-xs: calc(0.5*var(--space-unit));
    --space-sm: calc(0.75*var(--space-unit));
    --space-md: calc(1.25*var(--space-unit));
    --space-lg: calc(2*var(--space-unit));
    --space-xl: calc(3.25*var(--space-unit));
    --space-xxl: calc(5.25*var(--space-unit));
    --space-xxxl: calc(8.5*var(--space-unit));
    --space-xxxxl: calc(13.75*var(--space-unit));
    --component-padding: var(--space-md)
}


:root,
[data-theme="default"] {
    --color-primary-darker: hsl(220, 90%, 36%);
    --color-primary-darker-h: 220;
    --color-primary-darker-s: 90%;
    --color-primary-darker-l: 36%;
    --color-primary-dark: hsl(220, 90%, 46%);
    --color-primary-dark-h: 220;
    --color-primary-dark-s: 90%;
    --color-primary-dark-l: 46%;
    --color-primary: hsl(220, 90%, 56%);
    --color-primary-h: 220;
    --color-primary-s: 90%;
    --color-primary-l: 56%;
    --color-primary-light: hsl(220, 90%, 66%);
    --color-primary-light-h: 220;
    --color-primary-light-s: 90%;
    --color-primary-light-l: 66%;
    --color-primary-lighter: hsl(220, 90%, 76%);
    --color-primary-lighter-h: 220;
    --color-primary-lighter-s: 90%;
    --color-primary-lighter-l: 76%;
    --color-accent-darker: hsl(355, 90%, 41%);
    --color-accent-darker-h: 355;
    --color-accent-darker-s: 90%;
    --color-accent-darker-l: 41%;
    --color-accent-dark: hsl(355, 90%, 51%);
    --color-accent-dark-h: 355;
    --color-accent-dark-s: 90%;
    --color-accent-dark-l: 51%;
    --color-accent: hsl(355, 90%, 61%);
    --color-accent-h: 355;
    --color-accent-s: 90%;
    --color-accent-l: 61%;
    --color-accent-light: hsl(355, 90%, 71%);
    --color-accent-light-h: 355;
    --color-accent-light-s: 90%;
    --color-accent-light-l: 71%;
    --color-accent-lighter: hsl(355, 90%, 81%);
    --color-accent-lighter-h: 355;
    --color-accent-lighter-s: 90%;
    --color-accent-lighter-l: 81%;
    --color-black: hsl(240, 8%, 12%);
    --color-black-h: 240;
    --color-black-s: 8%;
    --color-black-l: 12%;
    --color-white: hsl(0, 0%, 100%);
    --color-white-h: 0;
    --color-white-s: 0%;
    --color-white-l: 100%;
    --color-success-darker: hsl(94, 48%, 36%);
    --color-success-darker-h: 94;
    --color-success-darker-s: 48%;
    --color-success-darker-l: 36%;
    --color-success-dark: hsl(94, 48%, 46%);
    --color-success-dark-h: 94;
    --color-success-dark-s: 48%;
    --color-success-dark-l: 46%;
    --color-success: hsl(94, 48%, 56%);
    --color-success-h: 94;
    --color-success-s: 48%;
    --color-success-l: 56%;
    --color-success-light: hsl(94, 48%, 66%);
    --color-success-light-h: 94;
    --color-success-light-s: 48%;
    --color-success-light-l: 66%;
    --color-success-lighter: hsl(94, 48%, 76%);
    --color-success-lighter-h: 94;
    --color-success-lighter-s: 48%;
    --color-success-lighter-l: 76%;
    --color-error-darker: hsl(355, 90%, 41%);
    --color-error-darker-h: 355;
    --color-error-darker-s: 90%;
    --color-error-darker-l: 41%;
    --color-error-dark: hsl(355, 90%, 51%);
    --color-error-dark-h: 355;
    --color-error-dark-s: 90%;
    --color-error-dark-l: 51%;
    --color-error: hsl(355, 90%, 61%);
    --color-error-h: 355;
    --color-error-s: 90%;
    --color-error-l: 61%;
    --color-error-light: hsl(355, 90%, 71%);
    --color-error-light-h: 355;
    --color-error-light-s: 90%;
    --color-error-light-l: 71%;
    --color-error-lighter: hsl(355, 90%, 81%);
    --color-error-lighter-h: 355;
    --color-error-lighter-s: 90%;
    --color-error-lighter-l: 81%;
    --color-warning-darker: hsl(46, 100%, 41%);
    --color-warning-darker-h: 46;
    --color-warning-darker-s: 100%;
    --color-warning-darker-l: 41%;
    --color-warning-dark: hsl(46, 100%, 51%);
    --color-warning-dark-h: 46;
    --color-warning-dark-s: 100%;
    --color-warning-dark-l: 51%;
    --color-warning: hsl(46, 100%, 61%);
    --color-warning-h: 46;
    --color-warning-s: 100%;
    --color-warning-l: 61%;
    --color-warning-light: hsl(46, 100%, 71%);
    --color-warning-light-h: 46;
    --color-warning-light-s: 100%;
    --color-warning-light-l: 71%;
    --color-warning-lighter: hsl(46, 100%, 81%);
    --color-warning-lighter-h: 46;
    --color-warning-lighter-s: 100%;
    --color-warning-lighter-l: 81%;
    --color-bg: hsl(0, 0%, 100%);
    --color-bg-h: 0;
    --color-bg-s: 0%;
    --color-bg-l: 100%;
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-contrast-lower-h: 0;
    --color-contrast-lower-s: 0%;
    --color-contrast-lower-l: 95%;
    --color-contrast-low: hsl(240, 1%, 83%);
    --color-contrast-low-h: 240;
    --color-contrast-low-s: 1%;
    --color-contrast-low-l: 83%;
    --color-contrast-medium: hsl(240, 1%, 48%);
    --color-contrast-medium-h: 240;
    --color-contrast-medium-s: 1%;
    --color-contrast-medium-l: 48%;
    --color-contrast-high: hsl(240, 4%, 20%);
    --color-contrast-high-h: 240;
    --color-contrast-high-s: 4%;
    --color-contrast-high-l: 20%;
    --color-contrast-higher: hsl(240, 8%, 12%);
    --color-contrast-higher-h: 240;
    --color-contrast-higher-s: 8%;
    --color-contrast-higher-l: 12%
}

:root {
    --cd-color-1: hsl(206, 21%, 24%);
    --cd-color-1-h: 206;
    --cd-color-1-s: 21%;
    --cd-color-1-l: 24%;
    --cd-color-2: hsl(205, 38%, 89%);
    --cd-color-2-h: 205;
    --cd-color-2-s: 38%;
    --cd-color-2-l: 89%;
    --cd-color-3: hsl(207, 10%, 55%);
    --cd-color-3-h: 207;
    --cd-color-3-s: 10%;
    --cd-color-3-l: 55%;
    --cd-color-4: hsl(111, 51%, 60%);
    --cd-color-4-h: 111;
    --cd-color-4-s: 51%;
    --cd-color-4-l: 60%;
    --cd-color-5: hsl(356, 53%, 49%);
    --cd-color-5-h: 356;
    --cd-color-5-s: 53%;
    --cd-color-5-l: 49%;
    --cd-color-6: hsl(47, 85%, 61%);
    --cd-color-6-h: 47;
    --cd-color-6-s: 85%;
    --cd-color-6-l: 61%;
    --cd-header-height: 200px;
    --font-primary: 'Droid Serif', serif;
    --font-secondary: 'Open Sans', sans-serif
}


.cd-timeline {
    overflow: hidden;
    /*padding: 2em 0;*/
    /*padding: var(--space-lg) 0;*/
    padding: 20px;
    /*color: hsl(207, 10%, 55%);*/
    /*color: var(--cd-color-3);*/
    /*background-color: hsl(205, 38%, 93.45%);*/
    /*background-color: hsl(var(--cd-color-2-h), var(--cd-color-2-s), calc(var(--cd-color-2-l)*1.05));*/
    /*font-family: 'Droid Serif', serif;*/
    /*font-family: var(--font-primary)*/
    font-family: Roboto;
    color: black;
}

.cd-timeline h2 {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: var(--font-secondary);*/
    /*font-weight: 700;*/
    color: black;
}

.cd-timeline__container {
    position: relative;
    padding: 1.25em 0;
    padding: var(--space-md) 0
}

.cd-timeline__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: hsl(205, 38%, 89%);
    background: var(--cd-color-2)
}

@media (min-width: 64rem) {
    .cd-timeline__container::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.cd-timeline__block {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 2em;
    margin-bottom: var(--space-lg)
}

.cd-timeline__block:last-child {
    margin-bottom: 0
}

@media (min-width: 64rem) {
    .cd-timeline__block:nth-child(even) {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
}

.cd-timeline__img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px hsl(0, 0%, 100%), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 4px var(--color-white), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)
}

.cd-timeline__img img {
    width: 96px;
    height: 96px
}

@media (min-width: 64rem) {
    .cd-timeline__img {
        width: 95px;
        height: 95px;
        -ms-flex-order: 1;
        order: 1;
        margin-left: calc(5% - 50px);
        will-change: transform;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__img {
        margin-right: calc(5% - 50px);
    }
}

.cd-timeline__content {
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    /*margin-left: 1.25em;*/
    /*margin-left: var(--space-md);*/
    /*background: hsl(0, 0%, 100%);*/
    /*background: var(--color-white);*/
    /*border-radius: 0.25em;*/
    /*border-radius: var(--radius-md);*/
    padding: 0 1.25em 1.25em;
    border-radius: 10px;
    /*padding: var(--space-md);*/
    box-shadow: 2px 2px 8px #cccccc;
    /*box-shadow: 0 3px 0 hsl(205, 38%, 89%);*/
    /*box-shadow: 0 3px 0 var(--cd-color-2);*/

}

.cd-timeline__content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: hsl(0, 0%, 100%);
    border-right-color: var(--color-white)
}

.cd-timeline__content h2 {
    color: hsl(206, 21%, 24%);
    color: var(--cd-color-1);
    font-family: Oswald;
}

@media (min-width: 64rem) {
    .cd-timeline__content {
        width: 45%;
        -ms-flex-positive: 0;
        flex-grow: 0;
        will-change: transform;
        margin: 0;
        font-size: 0.8em;
        --line-height-multiplier: 1.2;
        background-color: #F7F9F9;
        background-image: linear-gradient(141deg, #F7F9F9 0%, #FFFFFF 70%);
        /*background: #FDB819;*/
        /*background-image: linear-gradient(141deg, #FDB819 0%, #FFFFFF 70%);*/
    }
    .cd-timeline__content::before {
        top: 24px
    }
    .cd-timeline__block:nth-child(odd) .cd-timeline__content::before {
        right: auto;
        left: 100%;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-left-color: hsl(0, 0%, 100%);
        border-left-color: var(--color-white)

    }
}

.cd-timeline__date {
    color: hsla(207, 10%, 55%, 0.7);
    color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.7)
}

@media (min-width: 64rem) {
    .cd-timeline__date {
        position: absolute;
        width: 100%;
        left: 123%;
        top: 30px;
        font-size: 24px;
        color: #666666;
        font-family: oswald;
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__date {
        left: auto;
        right: 123%;
        text-align: right
    }
}

@media (min-width: 64rem) {
    .cd-timeline__img--hidden,
    .cd-timeline__content--hidden {
        visibility: hidden
    }
    .cd-timeline__img--bounce-in {
        -webkit-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s
    }
    .cd-timeline__content--bounce-in {
        -webkit-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s
    }
    .cd-timeline__block:nth-child(even) .cd-timeline__content--bounce-in {
        -webkit-animation-name: cd-bounce-2-inverse;
        animation-name: cd-bounce-2-inverse
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.sheel-logo.logo-text h1 {
    padding: 10px 0px;
}